*{
    box-sizing: border-box !important;
}
a{
    text-decoration: none !important;
}
li{
    list-style-type: none;
}
ul{
    padding: 0 !important;
}
.font-weight-bold{
    font-weight: bold;!important;
}
/*.freeShip{*/
/*    background-color: #E03435 ;*/
/*    font-size: 15px;*/
/*}*/
/*.freeShip p{*/
/*    margin: 0!important;*/
/*}*/
/*slider*/
.slider {
    width: 100%;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}
.slider::-webkit-scrollbar {
    display: none;
}
.slider .slide {
    display: flex;
    position: absolute;
    left: 0;
    transition: 0.3s left ease-in-out;
}
.slider .item {
    margin-right: 10px;
}
.slider .item:last-child {
    margin-right: 0;
}
/*nav*/
.mobile-ul-opener{
    background-color: #002a37;
    color: #ffffff;
    width: 50px;
    height: max-content;
    position: fixed;
    right: 15px;
    z-index: 20;
    font-size: 24px;
    text-align: center;
    border-radius: 100%;
    top: 88%;
}
.mobile-ul-opener i{
    padding: 13px;
}
.mobile-ul{
    display: none;
    height: 350px;
    width: 50px;
    background-color: #002a37;
    color: #ffffff;
    text-align: center;
    margin: 135px auto;
    border-radius: 40px;
    --bs-gutter-x: 0;
    padding: 5px 0 5px 0;
    position: fixed;
    z-index: 20;
    right: 15px;
    top: -8%;
}
.mobile-li{
    margin: 20px 0;
    padding: 0!important;
}
.mobile-li:hover{
    background-color: #89FF3F;
}
.mobile-li i{
    padding: 15px 0;
}
.mobile-nav{
    display: none !important;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
}
.mobile-menu{
    background-color: #273238;
}
.mobile-menu li:not(.mobile-menu li:nth-child(1)){
    color: #ffffff;
    font-size: 22px;
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #ffffff;
}
.mobile-overlay{
    background-color: #b3b3b3;
    opacity: 40% !important;
}
body .row:nth-child(1){
    --bs-gutter-x: 0!important;
}
.navbar{
    justify-content: space-between !important;
    padding: 0 10px;
    background-color: #ffffff;
}
.navbar .logo img{
    max-width: 150px !important;
    padding-bottom: 10px;
    padding-right: 10px;
}
.nav-item a:nth-child(2){
    text-decoration: none;
    color: #000;
}
.nav-item a:last-child{
    text-decoration: none;
    color: #f3f3f3;
}
.nav-item a:hover{
    text-decoration: none;
    color: #eeeeee;
}
.bars{
    font-size: 1.5rem;
}
.log{
    align-items: center;
    display: flex;
    justify-content: flex-end
}
.log .cart a{
    color: #08cd00;
    font-size: 24px;
    position: relative;
    padding-top: 2px;
}
.log .cart span {
    width: 14px;
    background-color: #000;
    color: #ffffff;
    font-size: 8px;
    padding: 1px 0;
    border-radius: 50%;
    position: absolute;
    left: 156px;
    text-align: center;
}
.log .login{
    padding: 2px 4px;
    font-size: 14px;
}
.log .btn{
    background-color: #08cd00;
    padding: 5px 22px;
    border-radius: 30px;
    font-size: 14px;
}

/*main menu + slider*/
.cont {
    margin: 0;
    overflow: hidden;
    position: relative;
    max-width: 62.5rem;
    line-height: 0;
    height: 400px;
}
.slideDiv,
.controls {
    position: absolute;
}
.slideDiv,
.slide {
    width: 100%;
    height: 100%;
}
.slide {
    background-size: cover;
}
.controls {
    top: 41%;
    right: 12px;
    padding: 0 0.63rem;
    z-index: 5;
    text-align: center;
}
.button {
    width: 15px !important;
    height: 15px;
    border: 1px solid #fff;
    opacity: 1;
    outline: none;
    background-color: #566675;
    display: block;
    cursor: pointer;
    border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    transition: all ease .2s;
    margin: 2px;
}
.button:not(:last-child) {
    margin-bottom: 0.63rem;
}
.button {
    border: 1px solid #fff;
    opacity: 1;
    outline: none;
    background-color: #ffffff;
}
.button:hover,
.button:focus {
    opacity: 1;
}
.selected {
    background-color: #17ff00;
}

/*Wrapper*/
.wrapper{
    /*background-color: #F5F5F5;*/
}

/*Search and Services*/
.services{
    padding: 15px 20px;
}
.service-group{
    position: relative !important;
}
.services input{
    box-shadow: #b3b3b3 1px 6px 21px;
    background-color: white;
    border-radius: 30px !important;
    width: 100% !important;
    z-index: 1;
    padding: 12px;
    position: absolute !important;
}
.services input::placeholder {
    font-size: 14px;
}
.services .input-group{
    flex-direction: row-reverse;
}
.services button{
    position: relative !important;
    color: white;
    background: rgb(98, 220, 23);
    background: linear-gradient(90deg, rgb(98, 220, 23) 10%, rgb(31, 170, 0) 90%);
    border-radius: 30px !important;
    padding: 9px 20px;
    font-size: 14px;
    left: 4px;
    z-index: 4 !important;
    width: fit-content;
}
.service-icons{
    margin: 60px auto;
}
.icon{
    margin: 5px;
    background-color: #ffffff;
    height: fit-content;
    padding: 15px;
    border-radius: 100%;
}

/*Gallery Part 1*/
.gallery-1{
    padding: 10px 0;
}
.gallery-1 .slider{
    height: 200px;
}
.line{
    margin: 10px auto !important;
    box-shadow: 0 39px 38px 2px rgb(175 175 175) !important
}
.gallery-1 .item:nth-child(1){
    border-radius: 30px;
    background: url("images/3.jpeg") no-repeat center;
    background-size: cover;
    height: 150px;
    box-shadow: 0 21px 27px 0 rgb(170 170 171);
}
.gallery-1 .item:nth-child(2){
    border-radius: 30px;
    background: url("images/5.jpeg") no-repeat center;
    background-size: cover;
    height: 150px;
    box-shadow: 0 21px 27px 0 rgb(170 170 171);

}
.gallery-1 .item:nth-child(3){
    border-radius: 30px;
    background: url("images/3.jpeg") no-repeat center;
    background-size: cover;
    height: 150px;
    box-shadow: 0 21px 27px 0 rgb(170 170 171);
}

/*Amazing Products*/
.amazing{
    padding: 10px;
    margin: 0;
}
.amazing .slider{
    height: 400px;
}
.amazing .a-border{
    border-bottom: solid 1px #b3b3b3;
}
.amazing .a-border hr{
    width: 50%;
    position: relative;
    border: solid 1px #4c4c4c;
    margin: 0;
    opacity: 100%;
    top: 0.1rem;
}
.amazing .row>*{
    padding: 0 !important;
}
.amazing .card{
    height: max-content;
    box-shadow: #b3b3b3 1px 2px 20px;
    border-radius: 20px;
    z-index: 0;
}
.amazing .card-img-top{
    border-radius: 20px 20px 0 0;
}
.card-btn{
    z-index: 2;
    background: rgb(37, 174, 1);
    background: linear-gradient(180deg, rgb(37, 174, 1) 10%, rgb(92, 216, 18) 90%);
    position: relative;
    bottom: -12px;
    color: #ffffff;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 100%;
    transition: ease all 0.2s;
}
.card-overlay{
    width: -webkit-fill-available;
    display: none;
    position: absolute;
    height: 100%;
    border-radius: 10px;
}
.card-overlay-color{
    background-color: #b3b3b3;
    opacity: 70%;
    height: 100%;
    border-radius: 20px;
}
.card-overlay-links{
    position: relative;
    top: -112px;
}
.card-overlay-links .btn{
    width: 75%;
    border-radius: 30px;
    padding: 5px;
    color: #ffffff;
    border: solid 1px #ffffff;
    margin: 3px auto;
    opacity: 100%;
}
.btn-overlay:hover{
    width: 75%;
    border-radius: 30px;
    padding: 5px;
    color: #6b6b6b;
    background-color: white;
    border: solid 1px #ffffff;
    margin: 3px auto;
    opacity: 100%;
}
.card:hover .card-overlay{
    display: block;
}
.card:hover .card-btn{
    display: none;
}
.amazing .card:hover{
    padding-bottom: 24px !important;
}

/*Special Products*/
.special{
    padding: 40px 60px;
    margin: 20px 0;
}
.special .box{
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    box-shadow: #b7b7b7 2px 3px 21px;
    margin: 5px;
}
.box .card-img-top {
    border-radius: 30px !important;
    width: 50%;
}
.special .box img{
    object-fit: contain;
}
.special .badge{
    position: absolute;
    background-color: #ff0600;
    padding: 15px 30px;
    color: white;
    font-size: 16px;
    border-radius: 30px 30px 0 30px;
    top: -21px;
}
.box h3{
    color: #393939;
    font-size: 20px;
}
.box p{
    color: #7e7e7e;
    font-size: 14px;
}
.box del{
    color: red;
}
.box h5{
    color: #6b6b6b;
    font-weight: bold;
}
.special-controls {
    padding: 0 0.63rem;
    text-align: center;
    justify-content: flex-end
}
.special-button {
    width: 15px !important;
    height: 15px;
    border: 1px solid #fff;
    opacity: 1;
    outline: none;
    background-color: #566675;
    display: block;
    cursor: pointer;
    border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    transition: all ease .2s;
    margin: 2px;
}
.special-button:not(:last-child) {
    margin-bottom: 0.63rem;
}
.selected {
    background-color: #64DD14;
}

/*Brands*/
.brands{
    padding: 20px 10px 0 10px;
    margin: 20px 0 0 0;
}
.brands .slider{
    height: 200px;
}
.brands .circle{
    height: auto;
    max-width: 60%;
    margin: auto;
    font-family: IranYekanLi;
}
.brands .row>*{
    padding: 0 !important;
}
.brands h6{
    font-weight: lighter;
    color: #818181;
}
.brands .img{
    background-color: white;
    border-radius: 100%;
    text-align: center;
    padding: 15px;
}

/*Banner 1*/
.banner{
    padding: 20px 10px;
    color: white;
    border-radius: 20px;
    position: relative;
}
.banner img{
    position: relative;
    border-radius: 20px;
}
.banner-overlay{
    font-size: 16px;
    position: absolute;
    right: 66%;
    bottom: 18%;
    padding: 7px;
}
.banner-overlay h3{
    font-family: IranYekanBold;
}
/*Accessory*/
.accessory{
    padding: 0 10px;
    margin: 0;
}
.accessory .slider{
    height: 220px;
}
.accessory .a-border{
    border-bottom: solid 1px #b3b3b3;
}
.accessory .a-border hr{
    width: 30%;
    position: relative;
    border: solid 1px #4c4c4c;
    margin: 0;
    opacity: 100%;
    top: 0.1rem;
}
.accessory div{
    margin: 5px auto;
}
.accessory .img-1{
    background-size: contain !important;
    background: url("images/2.jpeg") repeat center;
    border-radius: 15px;
    position: relative;
    height: 200px;
    overflow: hidden;
}
.accessory .img-2{
    background-size: contain !important;
    background: url("images/2.jpeg") repeat center;
    border-radius: 15px;
    position: relative;
    height: 200px;
    overflow: hidden;
}
.accessory .img-3{
    background-size: contain !important;
    background: url("images/2.jpeg") repeat center;
    border-radius: 15px;
    position: relative;
    height: 200px;
    overflow: hidden;
}
.accessory .img-4{
    background-size: contain !important;
    background: url("images/2.jpeg") repeat center;
    border-radius: 15px;
    position: relative;
    height: 200px;
    overflow: hidden;
}
.accessory .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    top: 72%;
    margin: auto;
}
.accessory .overlay-box .text{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

/*Banner no2*/
.banner2{
    padding: 20px 50px;
}
.banner2 , .banner2 img{
    border-radius: 30px;
}

/*Masrafi*/
.masrafi{
    padding: 0 10px;
    margin: 0;
}
.masrafi .slider{
    height: 220px;
}
.masrafi .a-border{
    border-bottom: solid 1px #b3b3b3;
}
.masrafi .a-border hr{
    width: 30%;
    position: relative;
    border: solid 1px #4c4c4c;
    margin: 0;
    opacity: 100%;
    top: 0.1rem;
}
.masrafi div{
    margin: 5px auto;
}
.masrafi .img-1{
    background-size: contain !important;
    background: url("images/2.jpeg") repeat center;
    border-radius: 15px;
    position: relative;
    height: 200px;
    overflow: hidden;
}
.masrafi .img-2{
    background-size: contain !important;
    background: url("images/2.jpeg") repeat center;
    border-radius: 15px;
    position: relative;
    height: 200px;
    overflow: hidden;
}
.masrafi .img-3{
    background-size: contain !important;
    background: url("images/2.jpeg") repeat center;
    border-radius: 15px;
    position: relative;
    height: 200px;
    overflow: hidden;
}
.masrafi .img-4{
    background-size: contain !important;
    background: url("images/2.jpeg") repeat center;
    border-radius: 15px;
    position: relative;
    height: 200px;
    overflow: hidden;
}
.masrafi .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    top: 72%;
    margin: auto;
}
.masrafi .overlay-box .text{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

/*banner no3*/
.banner3{
    padding: 20px 50px;
    position: relative;
    z-index: 1;
}
.banner3 .shadow{
    box-shadow: 0 23px 40px 8px #9d9e9f !important;
    width: 45%;
    position: absolute;
    top: 78%;
    right: 25%;
    z-index: -1;
    border-radius: 100%;
}
.banner3 img{
    border-radius: 20px;
}

/*Car Accessory*/
.car-accessory{
    padding: 50px 10px;
    margin: 0;
}
.car-accessory .slider{
    height: 220px;
}
.car-accessory .a-border{
    border-bottom: solid 1px #b3b3b3;
}
.car-accessory .a-border hr{
    width: 35%;
    position: relative;
    border: solid 1px #4c4c4c;
    margin: 0;
    opacity: 100%;
    top: 0.1rem;
}
.car-accessory div{
    margin: 5px auto;
}
.car-accessory .img-1{
    background-size: contain !important;
    background: url("images/2.jpeg") repeat center;    border-radius: 15px;
    position: relative;
    height: 200px;
    overflow: hidden;
}
.car-accessory .img-2{
    background-size: contain !important;
    background: url("images/2.jpeg") repeat center;    border-radius: 15px;
    position: relative;
    height: 200px;
    overflow: hidden;
}
.car-accessory .img-3{
    background-size: contain !important;
    background: url("images/2.jpeg") repeat center;    border-radius: 15px;
    position: relative;
    height: 200px;
    overflow: hidden;
}
.car-accessory .img-4{
    background-size: contain !important;
    background: url("images/2.jpeg") repeat center;    border-radius: 15px;
    position: relative;
    height: 200px;
    overflow: hidden;
}
.car-accessory .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    top: 72%;
    margin: auto;
}
.car-accessory .overlay-box .text{
    font-size: 14px;
    color: white;
    text-decoration: none;
}

/*Blog*/
.blog{
    padding: 0 10px 30px 10px;
}
.blog .slider{
    height: 300px;
}
.blog .card{
    height: max-content;
    margin: 10px auto;
    border-radius: 25px;
    box-shadow: #dbdbdb 0 3px 6px;
}
.blog .card-img-top{
    border-top-left-radius: 25px!important;
    border-top-right-radius: 25px!important;
    height: 180px;
}
/*Footer*/
.contact{
    padding: 10px;
    background: #131429;
}
.social a {
    text-align: center;
    border: solid 1px white;
    border-radius: 100%;
    width: 34px;
    height: fit-content;
    padding: 4px;
    margin: 2px;
}
.social i{
    color: white;
    font-size: 16px;
}
.call{
    text-align: left;
    justify-content: flex-end;
    margin: 5px;
}
.call div{
    color: #797E8C;
}
.cal div span{
    display: none;
}
.call div a{
    color: white;
    text-decoration: none;
}
.call i{
    text-align: right;
    color: #73D042;
    font-size: 28px;
    padding-right: 0 !important;
}
footer .wrapper{
    padding: 0 20px;
    background: #131429;
    color: white;
    font-size: 16px;
}
footer .wrapper a{
    color: white;
}
footer .logo{
    width: 150px;
}
.info-group{
    position: relative !important;
}
.discount .input-group{
    flex-direction: row-reverse;
}
footer input{
    width: 100% !important;
    position: absolute !important;
    z-index: 1;
    border-radius: 0 25px 25px 0!important;
    /*padding-left: 50px !important;*/
}
footer .btn{
    position: relative !important;
    background-color: #64DD16;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 25px !important;
    padding: 10px;
    width: fit-content;
    left: -2rem;
    z-index: 4 !important;
}
footer .about{
    text-align: justify;
}
.accordion-button{
    background-color: #131429 !important;
    text-align: center !important;
    color: #ffffff !important;
    font-size: 20px;
    font-weight: bold !important;
}
.accordion-button::after{
    background-image: none !important;
    content: "^" !important;
    font-size: 24px;
    color: #ffffff !important;
}
.accordion-button:not(.collapsed)::after{
    background-image: none !important;
    content: "^";
    font-size: 24px;
    color: #ffffff !important;
    text-align: center;
}
.accordion-item{
    background-color: #131429 !important;
    border: none !important;
    border-top: 1px solid rgba(255, 255, 255, 0.12) !important;
}

@media screen and (max-width: 580px){
    .icon {
        margin: 10px;
    }
    .banner-overlay {
        font-size: 14px;
        right: 66%;
        bottom: 8%;
    }
}
@media screen and (max-width: 500px){
    .cont {
        height: 250px;
    }
    .special {
        padding: 0 20px;
    }
    .brands .circle {
        max-width: 75%;
    }
    .banner-overlay{
        font-size: 0.75rem;
        bottom: 16%;
    }
    .banner-overlay h3{
        font-size: 17px;
    }
    .card h6{
        font-size: 14px;
    }
    .amazing .a-border hr {
        width: 70%;
    }
    .accessory .a-border hr {
        width: 35%;
    }
    .masrafi .a-border hr {
        width: 35%;
    }
    .car-accessory .a-border hr {
        width: 42%;
    }
    .discount p{
        font-size: 13px;
    }
    .about p{
        font-size: 14px;
    }
}
@media screen and (max-width: 478px){
    .log .btn{
        font-size: 14px;
        padding: 4px 18px;
    }
    .cart i{
        font-size: 24px;
    }
    .log .cart span{
        left: 146px;
    }
    .navbar .logo img {
        padding-right: 15px;
    }
    .blog .slider {
        height: 330px;
    }
    .call span{
        font-size: 13px;
    }
    .call a{
        font-size: 14px;
    }
    /*footer .btn {*/
    /*    padding: 11px;*/
    /*    font-size: 10px;*/
    /*}*/
}
@media screen and (max-width: 455px){
    .log .btn {
        font-size: 12px;
        padding: 4px 15px;
    }
    .log .login {
        font-size: 13px;
    }
    .log .cart span {
        left: 135px;
    }
    .services input::placeholder, .services input {
        font-size: 11px;
    }
    .services button {
        font-size: 12px;
        padding: 7px 20px;
    }
    .service-icons h5{
        font-size: 16px;
    }
    .services h6{
        font-size: 0.85rem;
    }
    .icon {
        margin: 7px;
    }
    .card-overlay-links .btn{
        font-size: 12px;
    }
    .brands .slider {
        height: 130px;
    }
    .brands{
        padding: 10px 20px;
    }
    .circle h6{
        font-size: 14px;
    }
    .special .card h5{
        font-size: 14px;
    }
    .banner-overlay h3{
        font-size: 15px;
    }
    .banner-overlay{
        bottom: 6%;
        right: 66%;
    }
    .banner2 {
        padding: 20px;
    }
    .banner3 {
        padding: 20px;
        position: relative;
        z-index: 1;
    }
    .banner3 .shadow {
        top: 74%;
    }
    .f-info p{
        font-size: 14px;
    }
    .f-info p {
        font-size: 11px;
    }
    .enamad .col-2 {
        flex: 0 0 auto;
        width: 20.666667%;
    }
}
@media screen and (max-width: 430px){
    .navbar {
        padding: 0 3px;
    }
    .log .btn {
        font-size: 11px;
        padding: 4px 12px;
    }
    .cart i {
        font-size: 22px;
    }
    .log .cart span {
        left: 115px;
    }
    .services {
        padding: 10px;
    }
    .services button {
        padding: 8px 17px;
        font-size: 12px;
    }
    .services input, input::placeholder {
        font-size: 12px;
        padding: 12px 4px;
    }
    .service-icons h6{
        font-size: 12px;
    }
    .card-overlay-links .btn {
        font-size: 10px;
    }
    .special {
        padding: 40px 10px;
        margin: 0;
    }
    .special .card h5 {
        font-size: 15px;
    }
    .amazing .slider {
        height: 300px;
    }
    .brands .img {
        padding: 10px;
    }
    .brands .slider {
        height: 125px;
    }
    .icon {
        padding: 10px;
    }
    .banner {
        padding: 20px 10px;
    }
    .blog .card-img-top {
        height: auto;
    }
    .blog .card-text{
        font-size: 12px;
    }
    .banner-overlay {
        font-size: 10px;
        bottom: 10% !important;
    }
    .banner-overlay h3{
        font-size: 13px;
    }
    .call .col-lg-4 {
        width: 76%;
        right: 66%;
    }
    .social a {
        width: 33px;
        padding: 3px;
    }
}
@media screen and (max-width: 370px){
    .freeShip p {
        font-size: 0.85rem;
    }
    .cart i {
        font-size: 21px;
    }
    .log .cart span {
        left: 106px;
        top: 11px;
    }
    .log .btn {
        padding: 8px 12px;
        font-size: 0.65rem;
    }
    .log .login {
        font-size: 12px;
    }
    .log .btn {
        padding: 3px 9px;
        font-size: 11px;
        height: max-content;
    }
    .cart a{
        font-size: 20px;
    }
    .services .h5, h5 {
        font-size: 0.95rem;
    }
    .service-icons h6 {
        font-size: 9px;
    }
    .services {
        padding: 5px 5px;
    }
    .services input::placeholder {
        font-size: 9px;
    }
    .services input, input::placeholder {
        padding: 9px 5px;
    }
    .services button {
        padding: 7px 17px;
        font-size: 10px;
    }
    .service-icons h5 {
        font-size: 14px;
    }
    .gallery-1 .col-8{
        height: 100px;
    }
    .amazing h4, .accessory h4, .masrafi h4, .car-accessory h4, .blog h4{
    font-size: 16px;
    }
    .amazing .card-title{
        font-size: 11px;
    }
    .amazing .card-text h6{
        font-size: 10px;
    }
    .amazing .card-text .fa-star{
        margin: 2px;
    }
    .card-btn{
        font-size: 15px;
    }
    .amazing .slider {
        height: 280px;
    }
    .amazing .a-border, .accessory .a-border,.masrafi .a-border,.car-accessory .a-border{
        margin: 0 10px;
    }
    .card-overlay-links .btn {
        font-size: 9px;
    }
    .special {
        padding: 40px 5px;
    }
    .special .card h5 {
        font-size: 14px;
    }
    .box p, .box del{
        font-size: 12px;
    }
    .brands {
        padding: 0;
    }
    .banner{
        padding: 20px 5px;
    }
    .banner-overlay {
        bottom: 14% !important;
    }
    .banner-overlay {
        bottom: 5% !important;
    }
    .banner-overlay h3{
        margin-bottom: 3px !important;
    }
    .overlay-box{
        font-size: 12px;
    }
    .banner2, .banner3{
        padding: 0 5px;
    }
    .accessory .col-7, .masrafi .col-7, .car-accessory .col-7 {
        width: 66%;
        height: 176px;
    }
    .banner3 .shadow{
        top: 66%;
    }
    .blog {
        padding: 0;
    }
    .discount{
        width: 90% !important;
    }
    .f-info p {
        font-size: 12px;
    }
    .social{
        width: 40% !important;
    }
    .call{
        width: 60% !important;
    }
    .social a {
        width: 25px;
        padding: 0;
    }
    .social i {
        font-size: 14px;
        padding: 0 0;
    }
    .call div {
        font-size: 10px;
        padding: 0 !important;
    }
    /*footer .btn {*/
    /*    left: -17px;*/
    /*}*/
    .enamad .col-2 {
        width: 24.666667%;
    }
}
@media screen and (max-width: 334px){
    .navbar .logo img {
        max-width: 110px !important;
    }
    .freeShip p {
        font-size: 13px;
    }
    .log .btn {
        padding: 5px 9px;
        font-size: 9px !important;
        height: max-content;
    }
    .log .cart span {
        left: 100px;
    }
    .icon {
        padding: 7px;
        margin: 3px;
    }
    .banner-overlay {
        font-size: 8px;
    }
}
body{
    background-color: red !important;
}
