@media screen and (min-width: 2560px){
    .freeShip p{
        font-size: 2rem;
    }
    .h3, h3 {
        font-size: 3.75rem !important;
    }
    h4, h4 {
        font-size: 3.5rem !important;
    }
    .h5, h5 {
        font-size: 3.25rem !important;
    }
    .h6, h6 {
        font-size: 2.5rem !important;
    }
    .MainSlider{
        height: 800px;
    }
    .mainMenu ul{
        font-size: 2rem;
    }
    .MainSlider .col-lg-2{
        width: 24.666667% !important;
    }
    .nav-item a{
        font-size: 40px;
    }
    .log .cart a{
        font-size: 50px;
    }
    .log .cart span{
        width: auto;
        padding: 5px 15px;
        font-size: 22px;
        left: 395px;
    }
    .slider{
        height: auto;
    }
    .services .input-group{
        margin: auto;
    }
    .services input{
        padding: 2rem;
    }
    .services input,
    input::placeholder {
        font-size: 35px;
    }
    .services button{
        padding: 20px 58px;
        font-size: 45px;
    }
    .gallery-1 .row div{
        height: 350px !important;
    }
    .amazing .card-btn{
        font-size: 60px;
        padding: 10px 17px;
        bottom: -40px;
    }
    .card-overlay-links .btn{
        font-size: 35px;
    }
    .card-overlay-links {
        top: -190px;
    }
    .special {
        padding: 110px;
    }
    .special .badge {
        font-size: 43px;
    }
    .card-body {
        padding: 3rem 1rem !important;
    }
    .brands .img{
        padding: 35px;
    }
    .banner .btn{
        border-radius: 60px !important;
        font-size: 4rem;
    }
    .banner-overlay{
        font-size: 3rem !important;
        width: 28% !important;
        bottom: 37%;
        right: 67%;
    }
    .banner-overlay h3{
        font-size: 4.75rem !important;
    }
    .img-1, .img-4{
        height: 600px;
    }
    .img-2 , .img-3{
        height: 300px;
        background-repeat: repeat !important;
    }
    .overlay-box .text{
        font-size: 3rem;
    }
    .img-4 .overlay-box{
        top: 83% !important;
        left: 25% !important;
    }
    .img-1 .overlay-box{
        top: 83% !important;
    }
    .img-3 .overlay-box, .img-2 .overlay-box{
        right: 55% !important;
        top: 66% !important;
    }
    .ul {
        height: auto !important;
        width: 150px !important;
        margin: 180px auto;
        border-radius: 73px;
    }
    .ul .li{
        font-size: 3rem;
    }
    .banner2 {
        margin: 60px 0;
    }
    .banner3 img {
        height: 600px;
        margin: 40px 0;
    }
    .car-accessory {
        padding: 0 50px 70px 110px;
    }
    .blog .row:nth-child(2){
        margin: 50px auto;
    }
    .blog .col-lg-1 {
        font-size: 3rem;
    }
    .blog .card-img-top{
        height: 50%;
    }
    .blog .card .card-text{
        font-size: 3rem;
    }
    .social a{
        width: auto;
        padding: 45px;
        margin: 20px;
    }
    .social i {
        font-size: 4rem;
    }
    .call a{
        font-size: 3rem;
    }
    .call i{
        font-size: 4rem;
    }
    .contact .pt-3 {
        padding-top: 4rem!important;
    }
    footer .logo{
        width: auto;
    }
    .about , .address, .minimenu , .discount , .f-about , .links ,.copyright{
        font-size: 3rem;
    }
    .minimenu{
        padding-right: 80px;
    }
    .discount input{
        padding: 3rem;
        border-radius: 57px !important;
    }
    footer .btn{
        font-size: 3rem;
        padding: 24px 45px;
        border-radius: 57px !important;
    }
    .enamad a:nth-child(1){
        text-align: end;
    }
}
@media screen and (max-width: 1440px) {
    .h3, h3 {
        font-size: 2.2rem;
    }
    .navbar .logo {
        width: 32.666667% !important;
    }
    .banner-overlay {
        right: 66%;
        font-size: 1.5rem;
        width: 24% !important;
        bottom: 30%;
    }
    .banner .btn{
        font-size: 1.5rem;
    }
    .navbar .logo{
        flex: 0 0 auto;
        width: 40.666667%;
    }
}
@media screen and (max-width: 1200px){
    .navbar {
        padding: 0 95px;
    }
    .log .cart span{
        left: 235px;
    }
    .MainSlider .col-lg-2{
        width: 24.666667%;
    }
    .services {
        padding: 25px 165px;
    }
    .amazing .col-lg-2 {
        flex: 0 0 auto;
        width: 20.666667% !important;
    }
    .brands .col-lg-1 {
        width: 12.333333%;
    }
    .banner{
        padding: 20px 50px;
    }
    .banner-overlay {
        right: 68%;
        font-size: 1.25rem;
        bottom: 30%;
    }
    .img-2 .overlay-box,.img-3 .overlay-box{
        right: 50% !important;
    }
    .img-4 .overlay-box{
        left: 30% !important;
    }
    .contact{
        padding: 20px 95px;
    }
    footer .wrapper {
        padding: 0 95px;
    }
    footer .btn{
        padding: 7px 8px;
        left: -10%;
    }
    .call .col-lg-4 {
        width: 35.333333%;
    }
    .icon{
        padding: 16px;
    }
    .btn-overlay{
        font-size: 13px !important;
    }
}
@media screen and (max-width: 991px){
    .mobile-ul-opener{
        display: block;
    }
    .navbar {
        padding: 0 60px;
    }
    .log .cart span {
        left: 201px;
    }
    .MainSlider .col-md-2 {
        flex: 0 0 auto;
        width: 18.666667%;
    }
    .MainSlider .container{
        width: 100%;
    }
    .MainSlider{
        justify-content: left !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .cont{
        padding: 0 !important;
        margin: 0 !important;
    }
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 100% !important;
    }
    .icon {
        margin: 25px;
    }
    .gallery-1 .row div:last-child{
        margin: 20px;
    }
    .special {
        padding: 40px 20px;
    }
    .special .badge{
        right: 0;
    }
    .special-button {
        height: 25px !important;
        margin: 4px;
    }
    .brands {
        padding: 70px 90px;
        margin: 0;
    }
    .accessory .ul,.masrafi .ul,.car-accessory .ul{
        display: none;
    }
    .accessory, .masrafi, .car-accessory {
        padding: 0 50px 0 50px !important;
        margin: 0;
    }
    .banner2 {
        padding: 30px 50px !important;
    }
    .banner3 img {
        border-radius: 40px;
        height: auto;
    }
    .banner3 {
        padding: 25px 50px !important;
    }
    .blog .col-lg-11 {
        position: static;
         top: 0;
         left: 0;
    }
    .blog .col-lg-1 {
        text-align: end;
    }
    .blog {
        padding: 60px 50px 70px 50px;
    }
    .call a {
        font-size: 18px;
    }
    .call i {
        font-size: 30px;
    }
    footer .wrapper {
        padding: 0 50px;
    }
    footer .btn {
        padding: 8px 9px;
        left: -10%;
    }
    footer .btn {
        font-size: 14px;
    }
}
@media screen and (max-width: 915px){
    .navbar {
        padding: 0 20px;
    }
    .log .cart span {
        left: 160px;
    }
    .mainMenu li a{
        font-size: 14px;
    }
    .amazing .col-lg-2 {
        flex: 0 0 auto;
        width: 25.666667% !important;
    }
    .brands {
        padding: 20px 90px;
    }
    .banner-overlay {
        right: 68%;
        font-size: 1rem;
        bottom: 30%;
    }
    .banner .btn {
        font-size: 1rem;
    }

}
@media screen and (max-width: 836px){
    .navbar {
        padding: 0 10px;
    }
    .navbar .logo {
        width: 26.666667% !important;
    }
    .log .cart span {
        left: 150px;
    }
    .MainSlider .col-md-10 {
        width: 80%;
    }
    .MainSlider .col-md-2 {
        width: 22%;
    }
    .menu .px-3, .menu .px-5{
        padding: 3px !important;
    }
    .services {
        padding: 20px 65px;
    }
    .icon {
        margin: 30px;
    }
    .amazing {
        padding: 10px 60px;
        margin: 0;
    }
    .special .col-md-5 {
        width: 60%;
        margin: 20px;
    }
    .brands {
        padding: 0 60px 50px;
    }
    .img-2 .overlay-box, .img-3 .overlay-box {
        right: 45% !important;
    }
    .img-4 .overlay-box {
        left: 50% !important;
    }
    footer .wrapper {
        padding: 0 20px;
    }
    footer .btn {
        font-size: 13px;
        padding: 8px 10px;
        left: -15%;
    }
    footer input,
    input::placeholder {
        font-size: 16px;
    }
    .contact {
        padding: 20px 20px;
    }
}
@media screen and (max-width: 767px){
    .icon {
        margin: 20px;
    }
    .banner-overlay {
        right: 67%;
        font-size: 0.95rem;
        bottom: 28%;
    }
    .banner .btn {
        font-size: 0.95rem;
    }
    .accessory, .masrafi, .car-accessory {
        padding: 0 25px 0 25px !important;
        margin: 0;
    }
    .social a {
        width: 40px;
        padding: 8px;
    }
    footer .col-lg-2 {
        width: 50%;
    }
    footer input{
        border-radius: 25px !important;
    }
    footer .discount .mt-5 {
        margin-top: 1rem!important;
    }
    footer .btn {
        font-size: 13px;
        padding: 8px 15px;
        left: 0;
    }
    .enamad{
        width: 25%;
        align-items: baseline;
        margin: auto !important;
    }
}
@media screen and (max-width: 754px){
    .banner-overlay {
        right: 67%;
        font-size: 0.85rem;
        bottom: 31%;
    }
    .banner .btn {
        font-size: 0.85rem;
    }
    .img-2 .overlay-box, .img-3 .overlay-box {
        right: 40% !important;
    }
    .img-4 .overlay-box {
        left: 60% !important;
    }
}