@media screen and (min-width: 1600px){
    .h3, h3 {
        font-size: 2.75rem !important;
    }
    .h4, h4 {
        font-size: 2.5rem !important;
    }
    .h5, h5 {
        font-size: 2.25rem !important;
    }
    .h6, h6 {
        font-size: 2rem !important;
    }
    .navbar .logo {
        max-width: 350px;
    }
    .menu a {
        font-size: 1.7rem;
    }
    .log a{
        font-size: 1.7rem;
    }
    .log .cart a {
        color: #08cd00;
        font-size: 2.5rem;
    }
    .log .cart span {
        width: auto;
        font-size: 1.2rem;
        padding: 0 10px;
        left: 372px;
    }
    .mainMenu li {
        font-size: 1.7rem;
    }
    .cont {
        height: 800px;
    }
    .button {
        width: 2rem;
        height: 2rem;
    }
    .services {
        padding: 45px 400px;
    }
    .services input::placeholder {
        font-size: 1.5rem;
    }
    .gallery-1 .row div {
        height: 290px !important;
    }
    .card .text-center{
        padding: 1%;
    }
    .card-overlay-links .btn {
        font-size: 1.8rem;
    }
    .card-overlay-links {
        position: relative;
        top: -143px;
    }
    .card-btn {
        bottom: -28px;
        font-size: 1.5rem;
        padding: 5px 16px;
    }
    .special {
        padding: 110px;
        margin: 20px 0;
    }
    .box p {
        font-size: 1.8rem;
    }
    .box del{
        font-size: 1.5rem;
    }
    .special .badge {
        font-size: 1.5rem;
    }
    .special-button {
        width: 1.5rem !important;
        height: 1.5rem !important;
    }
    .banner {
        padding: 20px 230px;
    }
    .banner .col-lg-2 {
        flex: 0 0 auto;
        width: 22.666667%;
    }
    .banner-overlay {
        right: 66%;
        font-size: 2.5rem;
        bottom: 250px;
    }
    .banner .btn {
        font-size: 1.75rem;
    }
    .accessory, .masrafi ,.car-accessory {
        padding: 0 150px 0 210px;
    }
    .ul {
        height: auto;
    }
    .li a{
        font-size: 1.5rem;
    }
    .blog .card .card-body{
        font-size: 1.5rem;
    }
    footer .wrapper{
        font-size: 1.5rem;
    }
    .f-info{
        padding-top: 30px;
    }
    .discount .btn{
        font-size: 1rem;
    }
    .contact{
        font-size: 1.5rem;
    }
    .social a{
        padding: 6px 10px;
    }
}
@media screen and (min-width: 1200px) {
    .h3, h3 {
        font-size: 2.2rem;
    }
    .navbar .logo {
        width: 32.666667% !important;
    }
    .banner-overlay {
        right: 66%;
        font-size: 1.5rem;
        width: 24% !important;
        bottom: 30%;
    }
    .banner .btn{
        font-size: 1.5rem;
    }
    .navbar .logo{
        flex: 0 0 auto;
        width: 40.666667%;
    }
}
@media screen and (max-width: 1200px){
    .banner .btn {
        font-size: 14px;
    }
    .icon {
        margin: 5px;
    }
    .img-2 .overlay-box,.img-3 .overlay-box{
        right: 45% !important;
    }
    .img-4 .overlay-box{
        left: 40% !important;
    }
    .banner-overlay {
        right: 65%;
        font-size: 1rem;
        width: 25% !important;
        bottom: 32%;
    }
    .discount form{
        margin: 0 !important;
    }
    .f-info{
        padding-top: 15px;
    }
}
@media screen and (max-width: 991px){
    .navbar {
        align-items: baseline !important;
        padding: 0 70px;
    }
    .log .cart span{
        left: 228px;
    }
    .menu a {
        font-size: 0.8rem;
    }
    .MainSlider{
        --bs-gutter-x: none !important;
        margin: 0 !important;
        justify-content: space-between;
    }
    .log a{
        font-size: 0.8rem;
    }
    .log .cart a {
        font-size: 1.3rem;
    }
    .log .cart span {
        left: 210px;
        font-size: 0.6rem;
    }
    .mainMenu li {
        font-size: 0.7rem;
    }
    .services {
        padding: 30px 150px;
    }
    .gallery-1 .row div{
        margin: 5px;
    }
    .special .box{
        margin: 1rem;
    }
    .brands {
        padding: 0 120px;
    }
    .circle img{
        max-width: 100px;
    }
    .banner {
        padding: 20px 100px;
    }
    .banner-overlay {
        font-size: 0.7rem;
        bottom: 35%;
    }
    .banner-overlay h3{
        font-size: 1rem;
    }
    .banner .btn {
        font-size: 10px;
    }
    .ul{
        margin: 0 !important;
    }
    .accessory .col-lg-11, .masrafi .col-lg-11,.car-accessory .col-lg-11{
        max-width: 90%;
    }
    .accessory, .masrafi{
        padding: 0 50px;
    }
    .accessory .ul,.masrafi .ul{
        height: 350px;
        margin: 130px 0 !important;
        padding: 5px 0 5px 0;
    }
    .img-2 .overlay-box,.img-3 .overlay-box{
        right: 40% !important;
    }
    .img-4 .overlay-box{
        left: 60% !important;
    }
    .banner3 .row{
        justify-content: center !important;
    }
    .banner3 img{
        margin: 5px;
    }
    .car-accessory {
        padding: 45px 50px;
    }
    .car-accessory .ul {
        margin: 60px 0 !important;
    }
    .blog .col-lg-11 {
         left: 0;
    }
    footer .wrapper {
        padding: 0 45px;
    }
    .contact {
        padding: 20px 50px;
    }
    footer .btn{
        left: -25px;
    }
}
