@media screen and (min-width: 2560px){
    .freeShip p{
        font-size: 3rem;
    }
    .h3, h3 {
        font-size: 3.75rem !important;
    }
    h4, h4 {
        font-size: 3.5rem !important;
    }
    .h5, h5 {
        font-size: 3.25rem !important;
    }
    .h6, h6 {
        font-size: 2.5rem !important;
    }
    .MainSlider{
        height: 800px;
    }
    .mainMenu ul{
        font-size: 2rem;
    }
    .MainSlider .col-lg-2{
        width: 24.666667% !important;
    }
    .nav-item a{
        font-size: 40px;
    }
    .log .cart a{
        font-size: 50px;
    }
    .log .cart span{
        width: auto;
        padding: 5px 15px;
        font-size: 22px;
        left: 395px;
    }
    .slider{
        height: auto;
    }
    .services .input-group{
        margin: auto;
    }
    .services input{
        padding: 2rem;
    }
    .services input,
    input::placeholder {
        font-size: 35px;
    }
    .services button{
        padding: 20px 58px;
        font-size: 45px;
    }
    .gallery-1 .row div{
        height: 350px !important;
    }
    .amazing .card-btn{
        font-size: 60px;
        padding: 10px 17px;
        bottom: -40px;
    }
    .card-overlay-links .btn{
        font-size: 35px;
    }
    .card-overlay-links {
        top: -190px;
    }
    .special {
        padding: 110px;
    }
    .special .badge {
        font-size: 43px;
    }
    .card-body {
        padding: 3rem 1rem !important;
    }
    .brands .img{
        padding: 35px;
    }
    .banner .btn{
        border-radius: 60px !important;
        font-size: 4rem;
    }
    .banner-overlay{
        font-size: 3rem !important;
        width: 28% !important;
        bottom: 37%;
        right: 67%;
    }
    .banner-overlay h3{
        font-size: 4.75rem !important;
    }
    .img-1, .img-4{
        height: 600px;
    }
    .img-2 , .img-3{
        height: 300px;
        background-repeat: repeat !important;
    }
    .overlay-box .text{
        font-size: 3rem;
    }
    .img-4 .overlay-box{
        top: 83% !important;
        left: 25% !important;
    }
    .img-1 .overlay-box{
        top: 83% !important;
    }
    .img-3 .overlay-box, .img-2 .overlay-box{
        right: 55% !important;
        top: 66% !important;
    }
    .ul {
        height: auto !important;
        width: 150px !important;
        margin: 180px auto;
        border-radius: 73px;
    }
    .ul .li{
        font-size: 3rem;
    }
    .banner2 {
        margin: 60px 0;
    }
    .banner3 img {
        height: 600px;
        margin: 40px 0;
    }
    .car-accessory {
        padding: 0 50px 70px 110px;
    }
    .blog .row:nth-child(2){
        margin: 50px auto;
    }
    .blog .col-lg-1 {
        font-size: 3rem;
    }
    .blog .card-img-top{
        height: 50%;
    }
    .blog .card .card-text{
        font-size: 3rem;
    }
    .social a{
        width: auto;
        padding: 45px;
        margin: 20px;
    }
    .social i {
        font-size: 4rem;
    }
    .call a{
        font-size: 3rem;
    }
    .call i{
        font-size: 4rem;
    }
    .contact .pt-3 {
        padding-top: 4rem!important;
    }
    footer .logo{
        width: auto;
    }
    .about , .address, .minimenu , .discount , .f-about , .links ,.copyright{
        font-size: 3rem;
    }
    .minimenu{
        padding-right: 80px;
    }
    .discount input{
        padding: 3rem;
        border-radius: 57px !important;
    }
    footer .btn{
        font-size: 3rem;
        padding: 24px 45px;
        border-radius: 57px !important;
    }
    .enamad a:nth-child(1){
        text-align: end;
    }
}
@media screen and (max-width: 1440px) {
    .h3, h3 {
        font-size: 2.2rem;
    }
    .navbar .logo {
        width: 32.666667% !important;
    }
    .banner-overlay {
        right: 66%;
        font-size: 1.5rem;
        width: 24% !important;
        bottom: 30%;
    }
    .banner .btn{
        font-size: 1.5rem;
    }
    .navbar .logo{
        flex: 0 0 auto;
        width: 40.666667%;
    }
}
@media screen and (max-width: 1200px){
    .navbar {
        padding: 0 95px;
    }
    .log .cart span{
        left: 235px;
    }
    .MainSlider .col-lg-2{
        width: 24.666667%;
    }
    .services {
        padding: 25px 165px;
    }
    .amazing .col-lg-2 {
        flex: 0 0 auto;
        width: 20.666667% !important;
    }
    .brands .col-lg-1 {
        width: 12.333333%;
    }
    .banner{
        padding: 20px 50px;
    }
    .banner-overlay {
        right: 68%;
        font-size: 1.25rem;
        bottom: 30%;
    }
    .img-2 .overlay-box,.img-3 .overlay-box{
        right: 50% !important;
    }
    .img-4 .overlay-box{
        left: 30% !important;
    }
    .contact{
        padding: 20px 95px;
    }
    footer .wrapper {
        padding: 0 95px;
    }
    footer .btn{
        padding: 7px 8px;
        left: -10%;
    }
    .call .col-lg-4 {
        width: 35.333333%;
    }
    .icon{
        padding: 16px;
    }
    .btn-overlay{
        font-size: 13px !important;
    }
}
@media screen and (max-width: 991px){
    .mobile-ul-opener{
        display: block;
    }
    .freeShip {
        font-size: 24px;
    }
    .log span {
        top: 26%;
    }
    .bars i{
        font-size: 2rem;
    }
    .logo p{
        text-align: center;
    }
    .navbar .bars{
        display: block;
        top: 12px;
        position: relative;
    }
    .navbar .nav-item .bars{
        width: 13%;
    }
    .menu, .mainMenu{
        display: none !important;
    }
    .container, .container-md, .container-sm {
        max-width: 100% !important;
    }
    .MainSlider {
        --bs-gutter-x: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .services {
        padding: 25px 50px;
    }
    .gallery-1 div:not(.gallery-1 div:nth-child(1)){
        display: none;
    }
    .gallery-1 .col-md-10 {
        height: 200px !important;
        width: 70.333333% !important;
    }
    .amazing .col-lg-2 {
        width: 27.666667% !important;
    }
    .amazing {
        padding: 10px 50px;
    }
    .special {
        padding: 40px 50px;
    }
    .special .card:nth-child(2){
        display: none;
    }
    .brands {
        padding: 45px 50px;
    }
    .banner-overlay {
        font-size: 1rem;
        bottom: 30%;
    }
    .banner .btn{
        top: 90%;
        font-size: .85rem !important;
        padding: 8px 20px;
    }
    .ul{
        display: none;
    }
    .accessory .row, .masrafi .row, .car-accessory .row{
        justify-content: center !important;
    }
    .img-1{
        height: 200px;
        border-radius: 30px !important;
    }
    .img-2, .img-3, .img-4{
        display: none;
    }
    .banner2 {
        padding: 50px !important;
    }
    .masrafi .a-border {
        margin: 5px 0 30px !important;
    }
    .masrafi, .accessory{
        padding: 0 50px;
    }
    .car-accessory{
        padding: 0 50px 40px 50px;
    }
    .overlay-box{
        right: 32% !important;
        top: 70% !important;
    }
    .banner3 {
        padding: 5% 12% 5% 0 !important;
    }
    .banner3 .row{
        display: block !important;
        flex-wrap: nowrap;
    }
    .banner3 .row img:nth-child(2){
        display: none;
    }
    .blog {
        padding: 60px 50px 70px 50px;
    }
    .blog .col-lg-1 {
        font-size: 20px;
        font-weight: bolder;
        display: none;
    }
    .blog .col-lg-11 {
        left: 0 !important;
    }
    .call .col-lg-4 {
        width: 51.333333%;
    }
    footer .wrapper .logo , footer .minimenu , footer .address, footer .wrapper .f-about, footer .wrapper hr
    , footer .wrapper .links{
        display: none;
    }
    footer .btn{
        padding: 7px 22px;
        left: -4%;
        top: 11%;
    }
    footer .wrapper .f-info{
        flex-direction: column-reverse;
    }
    footer .discount {
        padding-top: 16px;
        font-size: 1.25rem;
        width: 83% !important;
        margin: auto;
    }
    footer .discount input{
        margin-top: 5px !important;
    }
    footer .about{
        width: 83%;
        margin: 12px auto;
    }
    footer .about .logo{
        display: block;
    }
    footer .enamad{
        justify-content: center!important;
    }
    .accordion{
        display: block;
    }
    .copyright{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .navbar {
        padding: 0 30px;
    }
    .log .cart span {
        left: 170px;
    }
    .icon{
        margin: 9px;
    }
    .banner-overlay {
        font-size: 0.75rem;
        bottom: 30%;
    }
    .banner-overlay h3{
        font-size: 1rem;
    }
    .contact {
        padding: 20px 50px;
    }
    .call .col-lg-4 {
        width: 85%;
    }
    .bars i{
        margin-bottom: 37px;
    }
}
@media screen and (max-width: 599px){
    .navbar .logo {
        width: 89% !important;
        margin-right: 10px;
    }
    .bars i {
        font-size: 1.5rem;
    }
    .navbar .nav-item{
        max-width: 45% !important;
    }
    .bars{
        width: 10% !important;
    }
    .logo{
        padding-top: 7px;
        max-width: 55% !important;
    }
    .controls button{
        width: 10px;
        height: 14px;
    }
    .services input,
    input::placeholder {
        font-size: 16px;
    }
    .services button {
        padding: 10px 35px;
    }
    .icon {
        padding: 9px;
    }
    .banner3 {
        padding: 5% 7% !important;
    }
    .amazing .col-lg-2 {
        width: 43% !important;
    }
    .brands .col-lg-1 {
        width: 20.333333%;
    }
    .banner-overlay {
        font-size: 0.65rem;
        bottom: 30%;
    }
    .overlay-box {
        right: 38% !important;
        top: 70% !important;
    }
    .blog .justify-content-between {
        justify-content: center !important;
    }
    .blog .justify-content-between .card:not(.blog .justify-content-between .card:nth-child(1)){
        display: none;
    }
    .contact {
        padding: 20px 30px;
    }
    footer .wrapper {
        padding: 0 20px;
    }
    footer .btn {
        left: -5%;
    }
    .enamad a {
        width: 22%;
    }
}
@media screen and (max-width: 490px){
    .freeShip {
        font-size: 16px;
    }
    .logo p{
        display: none;
    }
    .navbar .logo{
        width: 100%;
    }
    .services button {
        padding: 9px 20px;
    }
    .services input,
    input::placeholder {
        font-size: 14px;
    }
    .gallery-1 .col-md-10 {
        width: 95.333333% !important;
    }
    .amazing .row{
        justify-content: center;
    }
    .amazing .col-lg-2 {
        width: 50% !important;
    }
    .banner {
        padding: 20px 10px;
    }
    .banner .btn {
        font-size: 0.6rem !important;
    }
    .banner-overlay {
        font-size: 0.65rem;
        bottom: 27%;
        width: 33%;
    }
    .banner2 {
        padding: 30px 10px !important;
    }
    .contact {
        padding: 20px 4px;
    }
}
@media screen and (max-width: 425px){
    .navbar {
        padding: 0 10px;
    }
    .log .btn {
        padding: 6px 20px;
        font-size: 0.85rem;
    }
    .log .login{
        font-size: 1rem;
    }
    .log .cart a {
        font-size: 22px;
    }
    .logo {
        max-width: 70% !important;
    }
    .logo p{
        display: none;
    }
    .log .cart span {
        left: 136px;
    }
    .slider{
        height: 300px;
    }
    .services .input-group{
        margin: 5px 0;
    }
    .services, .amazing , .masrafi, .accessory{
        padding: 0 15px;
    }
    .car-accessory{
        padding: 0 15px 15px 15px;
    }
    .accessory-images, .masrafi-images{
        width: 70%;
    }
    .gallery-1 {
        padding: 10px 50px;
    }
    .special {
        padding: 40px 15px;
    }
    .brands {
        padding: 45px 15px;
    }
    .banner-overlay{
        width: 31% !important;
        bottom: 15% !important;
        right: 67% !important;
    }
    .banner-overlay .btn{
        display: none;
    }
    .overlay-box {
        right: 34% !important;
    }
    .social a{
        width: 40px;
        padding: 7px;
    }
    .social i{
        font-size: 15px;
    }
    footer .discount {
        font-size: 1rem;
        width: 90% !important;
    }
    footer .discount .mt-5{
        margin-top: 0 !important;
    }
    footer .about {
        width: 90%;
    }
}
@media screen and (max-width: 375px){
    .slider{
        height: 250px;
    }
    .services button {
        padding: 7px 17px;
        font-size: 12px;
    }
    .services input, input::placeholder {
        font-size: 12px;
        padding: 12px;
    }
    .service-icons h3{
        font-size: 12px;
    }
    .icon {
        padding: 5px;
    }
    .banner-overlay {
        bottom: 7% !important;
    }
    .call .col-lg-4 {
        width: 76%;
    }
    .social a {
        width: 35px;
        padding: 5px;
    }
}
@media screen and (max-width: 320px) {
    .services input, input::placeholder {
        font-size: 10px;
    }

    .services button {
        top: 4px;
    }

    .service-icons .row {
        justify-content: center;
    }

    .service-icons .row .col-3 {
        flex: 0 0 auto;
        width: 35%;
    }

    .banner-overlay h3 {
        font-size: 0.75rem;
    }

    .banner-overlay {
        font-size: 0.5rem;
    }

    .overlay-box {
        right: 10px !important;
    }

    .call div {
        font-size: 12px;
    }

    .social i {
        font-size: 12px;
        padding: 7px;
    }

    .social a {
        width: 27px;
        padding: 0;
    }
    footer .btn {
        padding: 6px 19px;
        font-size: 12px;
    }
    .discount .form-control{
        padding: 0.15rem 0.75rem;
    }
    footer .logo {
        width: 140px;
    }
}
@media screen and (max-width: 280px){
    .log .btn {
        padding: 7px 15px;
        font-size: 0.65rem;
    }
    .log .cart span {
        left: 118px;
    }
    .overlay-box{
        font-size: 12px;
    }
    .social a {
        width: 24px;
        padding: 0;
    }
    .social i {
        font-size: 12px;
        padding: 6px;
    }
    .call div {
        font-size: 10px;
        padding: 0 !important;
    }
    footer .btn{
        top: 13%;
        left: -9%;
        padding: 6px 18px;
        font-size: 12px;
    }
}