a{
    text-decoration: none !important;
}
.freeShip{
    font-size: 16px;
}
/*nav*/
.navbar{
    padding: 0 150px;
}
.logo img{
    height: 60px;
}
.logo p{
    font-size: 12px;
    font-weight: lighter;
    color: #f3f3f3;
}
.nav-item a{
    text-decoration: none;
    color: #f3f3f3;
}
.nav-item a:hover{
    text-decoration: none;
    color: #eeeeee;
}
.log{
    text-align: left;
}
.log .cart{
    color: #08cd00;
    font-size: 24px;
    position: relative;
    padding-top: 2px;
}
.log span{
    width: 15px;
    background-color: #fff;
    font-size: 8px;
    padding: 2px 5px;
    border-radius: 50%;
    position: absolute;
    left: 298px;
    top: 39px;
}
.log .login{
    padding: 2px 4px;
}
.log .btn{
    background-color: #08cd00;
    padding: 5px 24px;
    border-radius: 30px;
}
/*main menu + slider*/
.mainMenu{
    background-color: #eaeaea;
}
.mainMenu ul{
    margin: 0 !important;
    padding: 5px 0 !important;
}
.mainMenu li{
    list-style-type: none;
    padding: 15px;
}
.mainMenu a{
    color: #353535;
}
.slider{
    margin-right: 5px;
}
.cont {
    margin: 0;
    overflow: hidden;
    position: relative;
    max-width: 62.5rem;
    line-height: 0;
    height: 450px;
}
.slideDiv,
.controls {
    position: absolute;
}
.slideDiv,
.slide {
    width: 100%;
    height: 100%;
}
.slide {
    background-size: cover;
}
.controls {
    top: 41%;
    right: 12px;
    padding: 0 0.63rem;
    z-index: 5;
    text-align: center;
}
.button {
    width: 0.9375rem;
    height: 0.9375rem;
    display: block;
    cursor: pointer;
    border-radius: 30%;
    transition: all ease .2s;
    transform: rotate(45deg);
}
.button:not(:last-child) {
    margin-bottom: 0.63rem;
}
.button {
    border: 1px solid #fff;
    opacity: 1;
    outline: none;
    background-color: #ffffff;
}
.button:hover,
.button:focus {
    opacity: 1;
}
.selected {
    background-color: #17ff00;
}
/*Wrapper*/
.wrapper{
    background-color: #f3f3f3;

}
/*Search and Services*/
.services{
    padding: 1px 250px;
}
.services input{
    box-shadow: #b3b3b3 1px 6px 21px;
    background-color: white;
    border-radius: 30px !important;
    width: 60% !important;
    position: relative !important;
    z-index: 1;
}
.services button{
    color: white;
    background: rgb(66,231,111);
    background: linear-gradient(90deg, rgba(66,231,111,1) 10%, rgb(12, 155, 8) 90%);
    position: absolute !important;
    border-radius: 30px !important;
    padding: 10px 50px;
    top: 4px;
    left: 8px;
    font-size: 18px;
    z-index: 2;
}
.icon{
    margin: 15px 48px;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 100%;
}
/*Gallery Part 1*/
.gallery-1{
    padding: 10px 80px;
}
.line{
    margin: 10px auto !important;
    box-shadow: 0 39px 38px 2px rgb(175 175 175) !important
}
.gallery-1 .row div:nth-child(1){
    border-radius: 30px;
    background: url("images/3.jpeg") no-repeat center;
    width: 300px;
    height: 150px;
    box-shadow: 7px 37px 50px -30px rgb(0 0 0);
}
.gallery-1 .row div:nth-child(2){
    border-radius: 30px;
    background: url("images/3.jpeg") no-repeat center;
    height: 150px;
    box-shadow: 7px 37px 50px -30px rgb(0 0 0);
    width: 300px;

}
.gallery-1 .row div:nth-child(3){
    width: 300px;
    border-radius: 30px;
    background: url("images/3.jpeg") no-repeat center;
    height: 150px;
    box-shadow: 7px 37px 50px -30px rgb(0 0 0);
}
/*Amazing Products*/
.amazing{
    padding: 10px 110px;
    margin: 20px 0;
}
.amazing .a-border{
    border-bottom: solid 1px #b3b3b3;
}
.amazing .a-border hr{
    width: 30%;
    position: relative;
    border: solid 1px #4c4c4c;
    margin: 0;
    opacity: 100%;
    top: 0.1rem;
}
.amazing .row>*{
    padding: 0 !important;
}
.amazing .card{
    box-shadow: #b3b3b3 1px 2px 20px;
    border-radius: 10px;
    z-index: 0;
}
.amazing .card-img-top{
    border-radius: 10px 10px 0 0;
}
.card-btn{
    z-index: 2;
    background-color: #08cd00 !important;
    position: relative;
    bottom: -12px;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 8px;
    border-radius: 100%;
}
.card-overlay{
    display: none;
    position: absolute;
    height: 100%;
    border-radius: 10px;
}
.card-overlay-color{
    background-color: #b3b3b3;
    opacity: 70%;
    height: 100%;
    border-radius: 10px;
}
.card-overlay-links{
    position: relative;
    top: -112px;
}
.card-overlay-links .btn{
    width: 75%;
    border-radius: 30px;
    padding: 5px;
    color: #ffffff;
    border: solid 1px #ffffff;
    margin: 3px auto;
    opacity: 100%;
}
.btn-overlay:hover{
    width: 75%;
    border-radius: 30px;
    padding: 5px;
    color: #6b6b6b;
    background-color: white;
    border: solid 1px #ffffff;
    margin: 3px auto;
    opacity: 100%;
}
.card:hover .card-overlay{
    transition: ease all 0.2s;
    display: block;
}
.card:hover .card-btn{
    transition: ease all 0.2s;
    display: none;
}
/*Special Products*/
.special{
    padding: 40px 110px;
    margin: 20px 0;
}
.special .box{
    background-color: white;
    border-radius: 30px;
    box-shadow: #b7b7b7 2px 3px 21px;
    margin: 5px;
}
.special .box img{
    object-fit: contain;
}
.special .badge{
    position: relative;
    background-color: #ff0600;
    padding: 15px 30px;
    color: white;
    font-size: 16px;
    border-radius: 30px 30px 0 30px;
    right: -12px;
    top: -21px;
}
.box h3{
    color: #393939;
    font-size: 20px;
}
.box p{
    color: #7e7e7e;
    font-size: 14px;
}
.box del{
    color: red;
}
.box h5{
    color: #6b6b6b;
    font-weight: bold;
}