a{
    text-decoration: none !important;
}
li{
    list-style-type: none;
}
ul{
    padding: 0 !important;
}
.font-weight-bold{
    font-weight: bold;!important;
}
.freeShip{
    background-color: #FEEB30 ;
    font-size: 16px;
}
/*nav*/
.mobile-nav{
    display: none !important;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
}
body .row:nth-child(1){
    --bs-gutter-x: 0!important;
}
.mobile-menu{
    background-color: #273238;
}
.mobile-menu li:not(.mobile-menu li:nth-child(1)){
    color: #ffffff;
    font-size: 22px;
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #ffffff;
}
.mobile-overlay{
    background-color: #b3b3b3;
    opacity: 40% !important;
}
.navbar{
    padding: 0 150px;
    background-color: #273238;
}
.bars{
    display: none;
}
.logo p{
    font-size: 12px;
    font-weight: lighter;
    color: #f3f3f3;
}
.nav-item a{
    text-decoration: none;
    color: #f3f3f3;
}
.nav-item a:hover{
    text-decoration: none;
    color: #eeeeee;
}
.log{
    display: flex;
    justify-content: flex-end
}
.log .cart a{
    color: #08cd00;
    font-size: 24px;
    position: relative;
    padding-top: 2px;
}
.log .cart span{
    width: 15px;
    background-color: #fff;
    font-size: 8px;
    padding: 2px 5px;
    border-radius: 50%;
    position: absolute;
    left: 290px;
}
.log .login{
    padding: 2px 4px;
}
.log .btn{
    background-color: #08cd00;
    padding: 5px 24px;
    border-radius: 30px;
}
/*main menu + slider*/
.mainMenu{
    background-color: #eaeaea;
}
.mainMenu ul{
    margin: 0 !important;
    padding: 5px 0 !important;
}
.mainMenu li{
    padding: 15px;
}
.mainMenu a{
    color: #353535;
}
.hovermenu{
    display: none !important;
    background-color: #eaeaea;
    position: absolute;
    z-index: 6;
    right: 333px;
    height: 450px;
}
.hovermenu ul{
    margin: 0 !important;
    padding: 5px 0 !important;
}
.hovermenu li{
    padding: 8px 5px;
}
.hovermenu a{
    color: #353535;
}
.hovermenu li img{
    width: 25px;
}
.hovermenu input{
    position: absolute;
    padding-right: 40px;
}
.hovermenu .btn{
    position: absolute !important;
    z-index: 1;
    color: #62DC17;
}
.slider{
    margin-right: 5px;
}
.cont {
    margin: 0;
    overflow: hidden;
    position: relative;
    max-width: 62.5rem;
    line-height: 0;
    height: 450px;
}
.slideDiv,
.controls {
    position: absolute;
}
.slideDiv,
.slide {
    width: 100%;
    height: 100%;
}
.slide {
    background-size: cover;
}
.controls {
    top: 41%;
    right: 12px;
    padding: 0 0.63rem;
    z-index: 5;
    text-align: center;
}
.button {
    width: 0.9375rem;
    height: 0.9375rem;
    display: block;
    cursor: pointer;
    border-radius: 30%;
    transition: all ease .2s;
    transform: rotate(45deg);
}
.button:not(:last-child) {
    margin-bottom: 0.63rem;
}
.button {
    border: 1px solid #fff;
    opacity: 1;
    outline: none;
    background-color: #ffffff;
}
.button:hover,
.button:focus {
    opacity: 1;
}
.selected {
    background-color: #17ff00;
}
/*Wrapper*/
.wrapper{
    background-color: #f3f3f3;

}
/*Search and Services*/
.services{
    padding: 30px 250px;
}
.services input{
    box-shadow: #b3b3b3 1px 6px 21px;
    background-color: white;
    border-radius: 30px !important;
    width: 100% !important;
    position: absolute !important;
    z-index: 1;
    padding: 1rem;
}
.services .input-group{
    flex-direction: row-reverse;
}
.services button{
    position: relative !important;
    color: white;
    background: rgb(98, 220, 23);
    background: linear-gradient(90deg, rgb(98, 220, 23) 10%, rgb(31, 170, 0) 90%);
    border-radius: 30px !important;
    padding: 10px 50px;
    font-size: 18px;
    z-index: 4 !important;
    left: 3%;
    top: 5px;
}
.service-icons{
    margin: 60px auto;
}
.icon{
    font-size: 20px;
    margin: 25px;
    background-color: #ffffff;
    height: fit-content;
    padding: 25px;
    border-radius: 100%;
}
/*Gallery Part 1*/
.gallery-1{
    padding: 10px 80px;
}
.line{
    margin: 10px auto !important;
    box-shadow: 0 39px 38px 2px rgb(175 175 175) !important
}
.gallery-1 .row div:nth-child(1){
    border-radius: 30px;
    background: url("images/3.jpeg") no-repeat center;
    height: 150px;
    box-shadow: 7px 37px 50px -30px rgb(0 0 0);
}
.gallery-1 .row div:nth-child(2){
    border-radius: 30px;
    background: url("images/5.jpeg") no-repeat center;
    height: 150px;
    box-shadow: 7px 37px 50px -30px rgb(0 0 0);

}
.gallery-1 .row div:nth-child(3){
    border-radius: 30px;
    background: url("images/3.jpeg") no-repeat center;
    height: 150px;
    box-shadow: 7px 37px 50px -30px rgb(0 0 0);
}
/*Amazing Products*/
.amazing{
    padding: 10px 110px;
    margin: 20px 0;
}
.amazing .a-border{
    border-bottom: solid 1px #b3b3b3;
}
.amazing .a-border hr{
    width: 30%;
    position: relative;
    border: solid 1px #4c4c4c;
    margin: 0;
    opacity: 100%;
    top: 0.1rem;
}
.amazing .row>*{
    padding: 0 !important;
}
.amazing .card{
    box-shadow: #b3b3b3 1px 2px 20px;
    border-radius: 10px;
    z-index: 0;
}
.amazing .card-img-top{
    border-radius: 10px 10px 0 0;
}
.card-btn{
    z-index: 2;
    background-color: #08cd00 !important;
    position: relative;
    bottom: -12px;
    color: #ffffff;
    font-weight: bold;
    padding: 6px 8px;
    border-radius: 100%;
    transition: ease all 0.2s;
}
.card-overlay{
    width: -webkit-fill-available;
    display: none;
    position: absolute;
    height: 100%;
    border-radius: 10px;
}
.card-overlay-color{
    background-color: #b3b3b3;
    opacity: 70%;
    height: 100%;
    border-radius: 10px;
}
.card-overlay-links{
    position: relative;
    top: -112px;
}
.card-overlay-links .btn{
    width: 75%;
    border-radius: 30px;
    padding: 5px;
    color: #ffffff;
    border: solid 1px #ffffff;
    margin: 3px auto;
    opacity: 100%;
}
.btn-overlay:hover{
    width: 75%;
    border-radius: 30px;
    padding: 5px;
    color: #6b6b6b;
    background-color: white;
    border: solid 1px #ffffff;
    margin: 3px auto;
    opacity: 100%;
}
.card:hover .card-overlay{
    display: block;
}
.card:hover .card-btn{
    display: none;
}
/*Special Products*/
.special{
    padding: 40px 110px;
    margin: 20px 0;
}
.special .box{
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    box-shadow: #b7b7b7 2px 3px 21px;
    margin: 5px;
}
.box .card-img-top {
    border-radius: 30px !important;
    width: 50%;
}
.special .box img{
    object-fit: contain;
}
.special .badge{
    position: absolute;
    background-color: #ff0600;
    padding: 15px 30px;
    color: white;
    font-size: 16px;
    border-radius: 30px 30px 0 30px;
    top: -21px;
}
.box h3{
    color: #393939;
    font-size: 20px;
}
.box p{
    color: #7e7e7e;
    font-size: 14px;
}
.box del{
    color: red;
}
.box h5{
    color: #6b6b6b;
    font-weight: bold;
}
/*Brands*/
.brands{
    padding: 70px 120px;
    margin: 20px 0;
}
.brands .circle{
    height: auto;
}
.brands .row>*{
    padding: 0 !important;
}
.brands h6{
    font-weight: lighter;
    color: #818181;
}
.brands .img{
    background-color: white;
    border-radius: 100%;
    text-align: center;
    padding: 10px;
}
/*Banner 1*/
.banner{
    padding: 20px 120px;
    color: white;
    border-radius: 20px;
    position: relative;
}
.banner img{
    position: relative;
    border-radius: 20px;
}
.banner-overlay{
    position: absolute;
    right: 68%;
    font-size: 14px;
    bottom: 140px;
    padding: 5px;
}
.banner .btn{
    color: white;
    background: linear-gradient(90deg, rgba(66,231,111,1) 10%, rgb(12, 155, 8) 90%);
    position: absolute !important;
    border-radius: 30px !important;
    padding: 10px 30px;
    font-size: 18px;
}
/*Accessory*/
.img-1 , .img-4{
    height: 400px;
}
.img-2 , .img-3{
    height: 200px;
}
.accessory{
    padding: 0 50px 0 110px;
    margin: 0;
}
.accessory .a-border{
    border-bottom: solid 1px #b3b3b3;
}
.accessory .a-border hr{
    width: 20%;
    position: relative;
    border: solid 1px #4c4c4c;
    margin: 0;
    opacity: 100%;
    top: 0.1rem;
}
.accessory .ul{
    height: 350px;
    width: 50px;
    background-color: #002a37;
    color: #ffffff;
    text-align: center;
    margin: 135px auto;
    border-radius: 40px;
    --bs-gutter-x: 0;
    padding: 5px 0 5px 0;
}
.accessory .li{
    margin: 20px 0;
    padding: 0!important;
}
.accessory .li:nth-child(2){
    background-color: #08cd00;
}
.accessory .li i{
    padding: 15px 0;
}
.accessory .img-1{
    background: url("images/banner1.png") no-repeat center;
    border-radius: 0 15px 15px 0;
    object-fit: cover;
    position: relative;
}
.accessory .img-2{
    background: url("images/4.jpeg") no-repeat center;
    object-fit: cover;
    border-radius: 0!important;
    margin-bottom: 2px;
    position: relative;
}
.accessory .img-3{
    background: url("images/3.jpeg") no-repeat center;
    object-fit: cover;
    position: relative;
}
.accessory .img-4{
    background: url("images/banner1.png") no-repeat center;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    position: relative;
    padding-right: 10%;
}

.accessory .img-1 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 28%;
    top: 87%;
}
.accessory .img-1 .text{
    color: white;
    text-decoration: none;
}

.accessory .img-2 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 60%;
    top: 72%;
}
.accessory .img-2 .text{
    color: white;
    text-decoration: none;
}

.accessory .img-3 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 60%;
    top: 72%;
}
.accessory .img-3 .text{
    color: white;
    text-decoration: none;
}

.accessory .img-4 .overlay-box{
    width: max-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    top: 87%;
    left: 6%;
}
.accessory .img-4 .text{
    color: white;
    text-decoration: none;
}

/*Banner no2*/
.banner2{
    padding: 0 137px 0 104px!important;
    color: white;
    border-radius: 20px;
    position: relative;
}
.banner2 img{
    border-radius: 20px;
}
/*Masrafi*/
.masrafi{
    padding: 0 50px 0 110px;
    margin: 0;
}
.masrafi .a-border{
    border-bottom: solid 1px #b3b3b3;
}
.masrafi .a-border hr{
    width: 20%;
    position: relative;
    border: solid 1px #4c4c4c;
    margin: 0;
    opacity: 100%;
    top: 0.1rem;
}
.masrafi .ul{
    height: 350px;
    width: 50px;
    background-color: #002a37;
    color: #ffffff;
    text-align: center;
    margin: 135px auto;
    border-radius: 40px;
    --bs-gutter-x: 0;
    padding: 5px 0 5px 0;
}
.masrafi .li{
    margin: 20px 0;
    padding: 0!important;
}
.masrafi .li:nth-child(3){
    background-color: #bbff00;
}
.masrafi .li i{
    padding: 15px 0;
}
.masrafi .img-1{
    background: url("images/banner1.png") no-repeat center;
    border-radius: 0 15px 15px 0;
    object-fit: cover;
    position: relative;
}
.masrafi .img-2{
    background: url("images/4.jpeg") no-repeat center;
    object-fit: cover;
    border-radius: 0!important;
    margin-bottom: 2px;
    position: relative;
}
.masrafi .img-3{
    background: url("images/3.jpeg") no-repeat center;
    object-fit: cover;
    position: relative;
}
.masrafi .img-4{
    background: url("images/banner1.png") no-repeat center;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    position: relative;
    padding-right: 10%;
}

.masrafi .img-1 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 28%;
    top: 87%;
}
.masrafi .img-1 .text{
    color: white;
    text-decoration: none;
}

.masrafi .img-2 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 60%;
    top: 72%;
}
.masrafi .img-2 .text{
    color: white;
    text-decoration: none;
}

.masrafi .img-3 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 60%;
    top: 72%;
}
.masrafi .img-3 .text{
    color: white;
    text-decoration: none;
}

.masrafi .img-4 .overlay-box{
    width: max-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    top: 87%;
    left: 6%;
}
.masrafi .img-4 .text{
    color: white;
    text-decoration: none;
}
/*banner no3*/
.banner3{
    padding: 0 137px 0 104px!important;
}
.banner3 img{
    border-radius: 40px;
    height: 220px;
}
/*Car Accessory*/
.car-accessory{
    padding: 0 50px 0 110px;
    margin: 0;
}
.car-accessory .a-border{
    border-bottom: solid 1px #b3b3b3;
}
.car-accessory .a-border hr{
    width: 20%;
    position: relative;
    border: solid 1px #4c4c4c;
    margin: 0;
    opacity: 100%;
    top: 0.1rem;
}
.car-accessory .ul{
    height: 350px;
    width: 50px;
    background-color: #002a37;
    color: #ffffff;
    text-align: center;
    margin: 135px auto;
    border-radius: 40px;
    --bs-gutter-x: 0;
    padding: 5px 0 5px 0;
}
.car-accessory .li{
    margin: 20px 0;
    padding: 0!important;
}
.car-accessory .li:nth-child(4){
    background-color: #ffc800;
}
.car-accessory .li i{
    padding: 15px 0;
}
.car-accessory .img-1{
    background: url("images/banner1.png") no-repeat center;
    border-radius: 0 15px 15px 0;
    object-fit: cover;
    position: relative;
}
.car-accessory .img-2{
    background: url("images/4.jpeg") no-repeat center;
    object-fit: cover;
    border-radius: 0!important;
    margin-bottom: 2px;
    position: relative;
}
.car-accessory .img-3{
    background: url("images/3.jpeg") no-repeat center;
    object-fit: cover;
    position: relative;
}
.car-accessory .img-4{
    background: url("images/banner1.png") no-repeat center;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    position: relative;
    padding-right: 10%;
}

.car-accessory .img-1 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 28%;
    top: 87%;
}
.car-accessory .img-1 .text{
    color: white;
    text-decoration: none;
}

.car-accessory .img-2 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 60%;
    top: 72%;
}
.car-accessory .img-2 .text{
    color: white;
    text-decoration: none;
}

.car-accessory .img-3 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 60%;
    top: 72%;
}
.car-accessory .img-3 .text{
    color: white;
    text-decoration: none;
}

.car-accessory .img-4 .overlay-box{
    width: max-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    top: 87%;
    left: 6%;
}
.car-accessory .img-4 .text{
    color: white;
    text-decoration: none;
}
/*Blog*/
.blog{
    padding: 60px 120px 70px 120px;
    background: #eaeaea;
}
.blog .row>*{
    padding: 0;
}
.blog .col-lg-11{
    position: relative;
    top: -20px;
    left: -45px;
}
.blog .col-lg-1{
    font-size: 20px;
    font-weight: bolder;
}
.blog .card{
    border-radius: 25px;
    box-shadow: #dbdbdb 0 3px 6px;
}
.blog .card-img-top{
    border-top-left-radius: 25px!important;
    border-top-right-radius: 25px!important;
    height: 180px;
}
/*.blog .col-lg-4 {*/
/*    width: 32.333333%;*/
/*}*/
/*Footer*/
.contact{
    padding: 20px 120px;
    background: #18202F;
}
.social a{
    text-align: center;
    border: solid 1px white;
    border-radius: 100%;
    width: 50px;
    height: fit-content;
    padding: 11px;
    margin: 5px;
}
.social i{
    color: white;
    font-size: 20px;
}
.call{
    text-align: left;
    justify-content: flex-end;
    margin: 5px;
}
.call a{
    color: white;
}
.call i{
    text-align: right;
    color: #73D042;
    font-size: 24px;
}
footer .wrapper{
    padding: 0 120px;
    background: #1D2836;
    color: white;
    font-size: 16px;
}
footer .wrapper a{
    color: white;
}
footer .logo{
    width: 200px;
}
footer .about .logo{
    display: none;
}
footer .col-lg-2{
    width: 18.666667%;
}
footer input{
    position: relative;
    z-index: 1;
    border-radius: 0 25px 25px 0!important;
}
footer .about{
    text-align: justify;
}
footer input,
input::placeholder {
    font-size: 20px;
}
footer .btn{
    position: absolute !important;
    background-color: #64DD16;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px !important;
    padding: 7px 25px;
    left: -8%;
    z-index: 4 !important;
}
footer hr{
    font-weight: bolder;
}
.enamad a{
    width: 13%;
}
.accordion{
    display: none;
}
.accordion-button{
    background-color: #1D2836 !important;
    text-align: center !important;
    color: #ffffff !important;
    font-size: 20px;
    font-weight: bold !important;
}
.accordion-button::after{
    background-image: none !important;
    content: "^" !important;
    font-size: 24px;
    color: #ffffff !important;
}
.accordion-button:not(.collapsed)::after{
    background-image: none !important;
    content: "^";
    font-size: 24px;
    color: #ffffff !important;
    text-align: center;
}
.accordion-item{
    background-color: #1D2836 !important;
    border: none !important;
    border-top: 1px solid rgba(255, 255, 255, 0.12) !important;
}

.copyright{
    color: #909AA3;
}