a{
    text-decoration: none !important;
}
li{
    list-style-type: none;
}
ul{
    padding: 0 !important;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.font-weight-bold{
    font-weight: bold;!important;
}
.freeShip{
    background-color: #E03435 ;
    font-size: 22px;
}
.freeShip p{
    margin: 0!important;
}
.pl-0{
    padding-left: 0!important;
}
/*nav*/
.mobile-ul-opener{
    display: none;
    background-color: #002a37;
    color: #ffffff;
    width: 50px;
    height: max-content;
    position: fixed;
    right: 15px;
    z-index: 20;
    font-size: 24px;
    text-align: center;
    border-radius: 100%;
    top: 88%;
}
.mobile-ul-opener i{
    padding: 13px;
}
.mobile-ul{
    display: none;
    height: 350px;
    width: 50px;
    background-color: #002a37;
    color: #ffffff;
    text-align: center;
    margin: 135px auto;
    border-radius: 40px;
    --bs-gutter-x: 0;
    padding: 5px 0 5px 0;
    position: fixed;
    z-index: 20;
    right: 15px;
    top: -8%;
}
.mobile-li{
    margin: 20px 0;
    padding: 0!important;
}
.mobile-li:hover{
    background-color: #89FF3F;
}
.mobile-li i{
    padding: 15px 0;
}
.navbar{
    align-items: baseline;
    padding: 10px 150px !important;
}
.navbar .logo{
    max-width: 180px;
}
.nav-item a{
    text-decoration: none;
    color: #000000;
}
.nav-item a:hover{
    text-decoration: none;
    color: #474747;
}
.menu a{
    font-size: 1rem;
}
.log{
    display: flex;
    justify-content: flex-end
}
.log .cart a{
    color: #08cd00;
    font-size: 24px;
    padding-top: 2px;
}
.log .cart span{
    width: 15px;
    background-color: #000000;
    color: #ffffff;
    font-size: 8px;
    padding: 2px 5px;
    border-radius: 50%;
    left: 18px;
}
.log .login{
    padding: 2px 4px;
}
.log .btn{
    background-color: #08cd00;
    padding: 5px 24px;
    border-radius: 30px;
}
/*main menu + slider*/
.MainSlider{
    justify-content: center;
}
.mainMenu{
    background-color: #EDF1F3;
}
.mainMenu ul{
    margin: 0 !important;
    padding: 5px 0 !important;
}
.mainMenu li{
    padding: 15px;
}
.mainMenu a{
    color: #353535;
}
.hovermenu{
    display: none !important;
    background-color: #eaeaea;
    position: absolute;
    z-index: 6;
    right: 333px;
    height: 450px;
}
.hovermenu ul{
    margin: 0 !important;
    padding: 5px 0 !important;
}
.hovermenu li{
    padding: 8px 5px;
}
.hovermenu a{
    color: #353535;
}
.hovermenu li img{
    width: 25px;
}
.hovermenu input{
    position: absolute;
    padding-right: 40px;
}
.hovermenu .btn{
    position: absolute !important;
    z-index: 1;
    color: #62DC17;
}
.slider{
    margin-right: 5px;
}
.cont {
    margin: 0;
    overflow: hidden;
    position: relative;
    max-width: 62.5rem;
    line-height: 0;
    height: 450px;
}
.slideDiv,
.controls {
    position: absolute;
}
.slideDiv,
.slide {
    width: 100%;
    height: 100%;
}
.slide {
    background-size: cover;
}
.controls {
    top: 41%;
    right: 12px;
    padding: 0 0.63rem;
    z-index: 5;
    text-align: center;
}
.button {
    /*width: 0.9375rem;*/
    height: 0.9375rem;
    display: block;
    cursor: pointer;
    border-radius: 100%;
    transition: all ease .2s;
}
.button:not(:last-child) {
    margin-bottom: 0.63rem;
}
.button {
    border: 1px solid #fff;
    opacity: 1;
    outline: none;
    background-color: #ffffff;
}
.button:hover,
.button:focus {
    opacity: 1;
}
.selected {
    background-color: #64DD14;
}
/*Wrapper*/


/*Search and Services*/
.services{
    padding: 30px 250px;
}
.service-group{
    position: relative !important;
}
.services input{
    box-shadow: #b3b3b3 1px 6px 21px;
    background-color: white;
    border-radius: 30px !important;
    width: 100% !important;
    z-index: 1;
    padding: 12px;
    position: absolute !important;
}
.services input::placeholder {
    font-size: 14px;
}
.services .input-group{
    flex-direction: row-reverse;
}
.services button{
    position: relative !important;
    color: white;
    background: rgb(98, 220, 23);
    background: linear-gradient(90deg, rgb(98, 220, 23) 10%, rgb(31, 170, 0) 90%);
    border-radius: 30px !important;
    padding: 9px 20px;
    font-size: 14px;
    left: 4px;
    z-index: 4 !important;
    width: fit-content;
}
.service-icons{
    margin: 60px auto;
}
.icon {
    font-size: 20px;
    margin: 20px;
    background-color: #ffffff;
    height: fit-content;
    padding: 25px;
    border-radius: 100%;
}
/*Gallery Part 1*/
.gallery-1{
    padding: 10px 80px;
}
.line{
    border:none;
    width: 80%;
    height: 1px !important;
    border-bottom: 1px solid #bfbfbf;
    box-shadow: 0 9px 49px 13px #6d6d6d;
    -webkit-box-shadow:0 9px 49px 13px #6d6d6d;
    margin: -50px auto 10px;
}
.gallery-1 .row div:nth-child(1){
    border-radius: 30px;
    background: url("images/3.jpeg") no-repeat center;
    background-size: cover;
    height: 150px;
    box-shadow: 7px 37px 50px -30px rgb(0 0 0);
}
.gallery-1 .row div:nth-child(2){
    border-radius: 30px;
    background: url("images/5.jpeg") no-repeat center;
    background-size: cover;
    height: 150px;
    box-shadow: 7px 37px 50px -30px rgb(0 0 0);

}
.gallery-1 .row div:nth-child(3){
    border-radius: 30px;
    background: url("images/3.jpeg") no-repeat center;
    background-size: cover;
    height: 150px;
    box-shadow: 7px 37px 50px -30px rgb(0 0 0);
}
/*Amazing Products*/
.amazing{
    padding: 10px 110px;
    margin: 20px 0;
}
.amazing .a-border{
    border-bottom: solid 1px #b3b3b3;
}
.amazing .a-border hr{
    width: 30%;
    position: relative;
    border: solid 1px #4c4c4c;
    margin: 0;
    opacity: 100%;
    top: 0.1rem;
}
.amazing .row>*{
    padding: 0 !important;
}
.amazing .card{
    box-shadow: #b3b3b3 1px 2px 20px;
    border-radius: 10px;
    z-index: 0;
}
.amazing .card-img-top{
    border-radius: 10px 10px 0 0;
}
.card-btn{
    z-index: 2;
    background: rgb(37, 174, 1);
    background: linear-gradient(180deg, rgb(37, 174, 1) 10%, rgb(92, 216, 18) 90%);
    position: relative;
    bottom: -12px;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 11px;
    border-radius: 100%;
    transition: ease all 0.2s;
}
.card-overlay{
    width: -webkit-fill-available;
    display: none;
    position: absolute;
    height: 100%;
    border-radius: 10px;
}
.card-overlay-color{
    background-color: #b3b3b3;
    opacity: 70%;
    height: 100%;
    border-radius: 10px;
}
.card-overlay-links{
    position: relative;
    top: -112px;
}
.card-overlay-links .btn{
    width: 75%;
    font-size: 0.8rem;
    border-radius: 30px;
    padding: 5px;
    color: #ffffff;
    border: solid 1px #ffffff;
    margin: 3px auto;
    opacity: 100%;
}
.btn-overlay:hover{
    width: 75%;
    border-radius: 30px;
    padding: 5px;
    color: #6b6b6b;
    background-color: white;
    border: solid 1px #ffffff;
    margin: 3px auto;
    opacity: 100%;
}
.card:hover .card-overlay{
    display: block;
}
.card:hover .card-btn{
    display: none;
}
/*Special Products*/
.special{
    padding: 40px 110px;
    margin: 20px 0;
}
.special .box{
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    box-shadow: #b7b7b7 2px 3px 21px;
    margin: 5px;
    padding: 0 !important;
}
.box .card-img-top {
    padding: 5px;
    border-radius: 30px !important;
    width: 50%;
}
.special .box img{
    object-fit: contain;
}
.special .badge{
    position: absolute;
    background-color: #ff0600;
    padding: 15px 30px;
    color: white;
    font-size: 16px;
    border-radius: 30px 30px 0 30px;
    top: -21px;
}
.box h3{
    color: #393939;
    font-size: 20px;
}
.box p{
    color: #7e7e7e;
    font-size: 14px;
}
.box del{
    color: red;
}
.box h5{
    color: #6b6b6b;
    font-weight: bold;
}
.special-controls {
    padding: 0 0.63rem;
    text-align: center;
    justify-content: flex-end;
    --bs-gutter-x: 0rem !important;
}
.special-button {
    width: 15px !important;
    height: 15px;
    border: 1px solid #fff;
    opacity: 1;
    outline: none;
    background-color: #566675;
    display: block;
    cursor: pointer;
    border-radius: 100% !important;
    -webkit-border-radius: 100% !important;
    transition: all ease .2s;
    margin: 2px;
}
.special-button:not(:last-child) {
    margin-bottom: 0.63rem;
}
.selected {
    background-color: #64DD14;
}
/*Brands*/
.brands{
    padding: 70px 120px;
    margin: 20px 0;
}
.brands .circle{
    height: auto;
}
.brands .row>*{
    padding: 0 !important;
}
.brands h6{
    font-weight: lighter;
    color: #818181;
}
.brands .img{
    background-color: white;
    border-radius: 100%;
    text-align: center;
    padding: 10px;
}
/*Banner 1*/
.banner{
    padding: 20px 120px;
    color: white;
    border-radius: 20px;
    position: relative;
}
.banner img{
    position: relative;
    border-radius: 20px;
}
.banner-overlay{
    position: absolute;
    right: 68%;
    font-size: 14px;
    bottom: 140px;
    padding: 5px;
}
.banner .btn{
    color: white;
    background: linear-gradient(90deg, rgb(98, 219, 23) 10%, rgb(31, 171, 0) 90%);
    position: absolute !important;
    border-radius: 30px !important;
    padding: 10px 30px;
    font-size: 18px;
}
/*Accessory*/
.img-1 , .img-4{
    height: 400px;
}
.img-2 , .img-3{
    height: 200px;
}
.accessory{
    padding: 0 50px 0 110px;
    margin: 0;
}
.accessory .a-border{
    border-bottom: solid 1px #b3b3b3;
}
.accessory .a-border hr{
    width: 20%;
    position: relative;
    border: solid 1px #4c4c4c;
    margin: 0;
    opacity: 100%;
    top: 0.1rem;
}
.accessory .ul{
    /*height: 350px;*/
    width: 50px;
    background-color: #002a37;
    color: #ffffff;
    text-align: center;
    margin: 135px auto;
    border-radius: 40px;
    --bs-gutter-x: 0;
    padding: 5px 0 5px 0;
}
.accessory .li{
    margin: 20px 0;
    padding: 0!important;
}
.accessory .li:nth-child(2){
    background-color: #08cd00;
}
.accessory .li i{
    padding: 15px 0;
}
.accessory .img-1{
    background: url("images/banner1.png") no-repeat center;
    border-radius: 0 15px 15px 0;
    object-fit: cover;
    position: relative;
}
.accessory .img-2{
    background: url("images/4.jpeg") no-repeat center;
    object-fit: cover;
    border-radius: 0!important;
    margin-bottom: 2px;
    position: relative;
}
.accessory .img-3{
    background: url("images/3.jpeg") no-repeat center;
    object-fit: cover;
    position: relative;
}
.accessory .img-4{
    background: url("images/banner1.png") no-repeat center;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    position: relative;
    padding-right: 10%;
}

.accessory .img-1 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 28%;
    top: 87%;
}
.accessory .img-1 .text{
    color: white;
    text-decoration: none;
}

.accessory .img-2 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 52%;
    top: 72%;
}
.accessory .img-2 .text{
    color: white;
    text-decoration: none;
}

.accessory .img-3 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 52%;
    top: 72%;
}
.accessory .img-3 .text{
    color: white;
    text-decoration: none;
}

.accessory .img-4 .overlay-box{
    width: max-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    top: 87%;
    left: 27%;
}
.accessory .img-4 .text{
    color: white;
    text-decoration: none;
}

/*Banner no2*/
.banner2{
    padding: 0 137px 0 104px!important;
    color: white;
    border-radius: 20px;
    position: relative;
}
.banner2 img{
    border-radius: 20px;
}
/*Masrafi*/
.masrafi{
    padding: 0 50px 0 110px;
    margin: 0;
}
.masrafi .a-border{
    border-bottom: solid 1px #b3b3b3;
}
.masrafi .a-border hr{
    width: 20%;
    position: relative;
    border: solid 1px #4c4c4c;
    margin: 0;
    opacity: 100%;
    top: 0.1rem;
}
.masrafi .ul{
    /*height: 350px;*/
    width: 50px;
    background-color: #002a37;
    color: #ffffff;
    text-align: center;
    margin: 135px auto;
    border-radius: 40px;
    --bs-gutter-x: 0;
    padding: 5px 0 5px 0;
}
.masrafi .li{
    margin: 20px 0;
    padding: 0!important;
}
.masrafi .li:nth-child(3){
    background-color: #bbff00;
}
.masrafi .li i{
    padding: 15px 0;
}
.masrafi .img-1{
    background: url("images/banner1.png") no-repeat center;
    border-radius: 0 15px 15px 0;
    object-fit: cover;
    position: relative;
}
.masrafi .img-2{
    background: url("images/4.jpeg") no-repeat center;
    object-fit: cover;
    border-radius: 0!important;
    margin-bottom: 2px;
    position: relative;
}
.masrafi .img-3{
    background: url("images/3.jpeg") no-repeat center;
    object-fit: cover;
    position: relative;
}
.masrafi .img-4{
    background: url("images/banner1.png") no-repeat center;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    position: relative;
    padding-right: 10%;
}

.masrafi .img-1 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 28%;
    top: 87%;
}
.masrafi .img-1 .text{
    color: white;
    text-decoration: none;
}

.masrafi .img-2 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 52%;
    top: 72%;
}
.masrafi .img-2 .text{
    color: white;
    text-decoration: none;
}

.masrafi .img-3 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 52%;
    top: 72%;
}
.masrafi .img-3 .text{
    color: white;
    text-decoration: none;
}

.masrafi .img-4 .overlay-box{
    width: max-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    top: 87%;
    left: 27%;
}
.masrafi .img-4 .text{
    color: white;
    text-decoration: none;
}
/*banner no3*/
.banner3{
    padding: 0 137px 0 104px!important;
    object-fit: contain;
}
.banner3 img{
    border-radius: 40px;
    height: 220px;
}
/*Car Accessory*/
.car-accessory{
    padding: 0 50px 0 110px;
    margin: 0;
}
.car-accessory .a-border{
    border-bottom: solid 1px #b3b3b3;
}
.car-accessory .a-border hr{
    width: 20%;
    position: relative;
    border: solid 1px #4c4c4c;
    margin: 0;
    opacity: 100%;
    top: 0.1rem;
}
.car-accessory .ul{
    /*height: 350px;*/
    width: 50px;
    background-color: #002a37;
    color: #ffffff;
    text-align: center;
    margin: 135px auto;
    border-radius: 40px;
    --bs-gutter-x: 0;
    padding: 5px 0 5px 0;
}
.car-accessory .li{
    margin: 20px 0;
    padding: 0!important;
}
.car-accessory .li:nth-child(4){
    background-color: #ffc800;
}
.car-accessory .li i{
    padding: 15px 0;
}
.car-accessory .img-1{
    background: url("images/banner1.png") no-repeat center;
    border-radius: 0 15px 15px 0;
    object-fit: cover;
    position: relative;
}
.car-accessory .img-2{
    background: url("images/4.jpeg") no-repeat center;
    object-fit: cover;
    border-radius: 0!important;
    margin-bottom: 2px;
    position: relative;
}
.car-accessory .img-3{
    background: url("images/3.jpeg") no-repeat center;
    object-fit: cover;
    position: relative;
}
.car-accessory .img-4{
    background: url("images/banner1.png") no-repeat center;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    position: relative;
    padding-right: 10%;
}

.car-accessory .img-1 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 28%;
    top: 87%;
}
.car-accessory .img-1 .text{
    color: white;
    text-decoration: none;
}

.car-accessory .img-2 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 52%;
    top: 72%;
}
.car-accessory .img-2 .text{
    color: white;
    text-decoration: none;
}

.car-accessory .img-3 .overlay-box{
    width: fit-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    right: 52%;
    top: 72%;
}
.car-accessory .img-3 .text{
    color: white;
    text-decoration: none;
}

.car-accessory .img-4 .overlay-box{
    width: max-content;
    text-align: center;
    padding: 8px;
    background: rgba(250,250,250,0.4);
    border: solid 1px #ffffff;
    border-radius: 30px;
    position: relative;
    top: 87%;
    left: 26%;
}
.car-accessory .img-4 .text{
    color: white;
    text-decoration: none;
}
/*Blog*/
.blog{
    padding: 60px 120px 70px 120px;
    background: #eaeaea;
}
.blog .row>*{
    padding: 0;
}
.blog .col-lg-11{
    position: relative;
    top: -20px;
    left: -45px;
}
.blog .col-lg-1{
    font-size: 20px;
    font-weight: bolder;
}
.blog .col-lg-4 {
    width: 31.333333%;
}
.blog .card{
    border-radius: 25px;
    box-shadow: #dbdbdb 0 3px 6px;
}
.blog .card-img-top{
    border-top-left-radius: 25px!important;
    border-top-right-radius: 25px!important;
    height: 180px;
}
/*Footer*/
.contact{
    padding: 20px 120px;
    background: #131429;
}
.contact .row{
    align-items: baseline;
}
.social a{
    text-align: center;
    border: solid 1px white;
    border-radius: 100%;
    width: 50px;
    height: fit-content;
    padding: 11px;
    margin: 5px;
}
.social i{
    color: white;
    font-size: 20px;
}
.call{
    text-align: left;
    justify-content: flex-end;
    margin: 5px;
}
.call div{
    color: #797E8C;
}
.cal div span{
    display: none;
}
.call div a{
    color: white;
    text-decoration: none;
}
.call i{
    text-align: right;
    color: #73D042;
    font-size: 24px;
}
footer .wrapper{
    padding: 0 120px;
    background: #131429;
    color: white;
    font-size: 16px;
}
footer .wrapper a{
    color: white;
}
footer .col-lg-2{
    width: 18.666667%;
}
.discount .input-group{
    flex-direction: row-reverse;
}
footer input{
    z-index: 1;
    border-radius: 25px !important;
}
footer .btn{
    position: absolute !important;
    background-color: #64DD16;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 25px !important;
    width: fit-content;
    height: 100%;
    z-index: 4 !important;
    left: -1px;
}
footer hr{
    font-weight: bolder;
}
.enamad a{
    width: 13%;
}
.accordion{
    display: none;
}
.accordion-button{
    background-color: #1D2836 !important;
    text-align: center !important;
    color: #ffffff !important;
    font-size: 20px;
    font-weight: bold !important;
}
.accordion-button::after{
    background-image: none !important;
    content: "^" !important;
    font-size: 24px;
    color: #ffffff !important;
}
.accordion-button:not(.collapsed)::after{
    background-image: none !important;
    content: "^";
    font-size: 24px;
    color: #ffffff !important;
    text-align: center;
}
.accordion-item{
    background-color: #1D2836 !important;
    border: none !important;
    border-top: 1px solid rgba(255, 255, 255, 0.12) !important;
}
.copyright{
    color: #909AA3;
}

/*single product*/
.star-selected{
    color: #64DC17;
}

.p-wrapper{
    padding: 30px 100px;
}

.p-wrapper .row{
    --bs-gutter-x: 0;
}

.p-gallery{
    margin-right: 15px;
}

.p-toolbar{
    right: -6%;
}

.p-toolbar li{
    font-size: 20px;
    margin: 8px;
}

.p-main{
    background-color: #ffffff;
    box-shadow: 0 0 12px 2px #e4e4e4;
}

.p-main h1{
    font-size: 1.25rem;
}

.p-buy div:first-child h1{
    font-size: 1rem;
    font-family: IranYekanBold;
}

.p-buy div:first-child h1{
    font-size: 1rem;
    font-family: IranYekanBold;
}

.p-buy div:first-child a{
    font-size: 0.75rem;
    color: #5dccf8;
}

.p-buy div:nth-child(2) .row .col-6, .row .col-5{
    font-size: 0.8rem;
}

.p-buy div:nth-child(3) p, :nth-child(4) p{
    font-size: 0.8rem;
}

.p-buy div:nth-child(5) div{
    font-size: 0.8rem;
}

.p-buy h4{
    font-size: 1rem !important;
    font-family: IranYekanBold;
}

.p-buy .text-left{
    font-size: 0.6rem;
}

.p-b-border{
    border-bottom: 1px solid #e4e4e4;
}

.p-badge{
    background-color: #DC3545;
    border-radius: 50%;
    color: #ffffff;
}

img {
    vertical-align: middle;
}

.mySlides {
    object-fit: contain !important;
    height: 250px;
    display: none;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 43%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 87%;
}

.prev{
    left: 87%;
}

.prev:hover,
.next:hover {
    color: rgba(0, 0, 0, 0.8);
}

.column {
    float: left;
    width: 16.66%;
}

.thumbnails .col .cursor{
    width: 85px !important;
    height: 80px;
    border-radius: 10%;
    margin: 5px 0;
    object-fit: cover;
}

.border-left{
    border-left: 1px solid #dedede;
}

.p-info{
    font-size: 0.8rem;
    font-family: IranYekanBold;
}

.p-info a{
    font-family: IranYekanReg;
    font-size: 0.9rem;
}

.p-info a:nth-child(1), .p-info a:nth-child(2){
    color: #5dccf8;
}

.p-description{
    background-color: #F5FCFF;
    border: #D4E6F0 1px solid;
    border-radius: 5px;
    font-size: 0.8rem;
}

.p-description h6{
    font-size: 0.9rem;
    display: inline;
    font-family: IranYekanBold;
}

.colors label input{
    display: none!important;
}

.colors label{
    border: #DBDCDC 1px solid;
}

.colors label input[type=checkbox] + span {
    display: inline-block;
    margin: auto;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}

.orange i{
    color: orange !important;
}

.red i{
    color: red;
}

.green i{
    color: limegreen;
}

.colors .active {
    border: #000000 1px solid;
}

/*.color:active, :focus{*/
/*    background-color: red;*/
/*}*/

.colors + a{
    font-size: 0.8rem;
    color: #5dccf8 !important;
}

.btn-price{
    color: #C9FFFF !important;
    background-color: #16BAFF !important;
    border-radius: 20px !important;
}

.rate-border{
    border-bottom: #D2D2D2 1px solid;
}

.rate-icon{
    background-color: #ffffff;
    height: fit-content;
    border-radius: 100%;
}

.rate-icon + h6{
    font-size: 0.5rem;
}

.product{
    background-color: #F5FCFF;
    border: #16BAFF 1px solid;
    font-family: IranYekanBold;
    font-size: 0.8rem;
}
.product span{
    font-family: IranYekanReg;
}

.product .card-body{
    background-color: inherit;
    border: none;
}

.product .add-to-cart{
    color: #ffffff;
    font-size: 0.7rem;
    border-radius: 30px;
}

.p-more{
    width: auto !important;
    margin: 15px auto 0 auto !important;
    border-radius: 15px 15px 0 0 !important;
    background-color:#16BAFF !important;
    color: #ffffff !important;
    font-size: 0.8rem !important;
}

.p-more .card-body p{
    font-size: 0.8rem;
    font-family: IranYekanReg !important;
}

.p-more h1{
    font-size: 0.9rem;
    font-family: IranYekanBold;
}

.nav-tabs{
    background-color: #EDF1F3;
    font-size: 0.8rem;
}
.p-main .nav-item a{
    color: #ACAEAE;
}
.p-main .nav-item a:hover {
    text-decoration: none;
    color: #000000;
}
.tab-pane{
    font-size: 0.8rem;
}
.p-main .nav-item .active{
    border-top: 0.15rem solid #7CC849 !important;
    border-radius: 0 !important;
}

.table td{
    background-color: #EDF1F3 !important;
    margin: 5px;
    border: none;
}

.add-comment{
    text-align: end;
}

.add-comment button , .comment-form form button{
    color: #ffffff !important;
    font-size: 0.8rem !important;
    border-radius: 20px !important;
}

.show-comment button{
    font-size: 0.8rem !important;
    border-radius: 20px !important;
}

.comment{
    border-top: 1px solid #E5E5E5;
}

.comment-info{
    color: #A1A1A1;
    font-size: 0.7rem;
}

.comment-info .btn-outline-secondary{
    font-size: 0.55rem;
}

.comment-form textarea{
    border: 1px #EEEEEE solid;
    border-radius: 5px;
    height: 6rem;
}

.remove{
    display: none;
}

.p-slider .p-b-border{
    font-size: 1rem;
}

.p-slider .card{
    border: none !important;
    border-radius: 0 !important;
}

.p-slider .card-body h5{
    font-size: 0.75rem !important;
}

.p-slider a{
    font-family: IranYekanBold;
    color: #000000;
}
.p-slider a:hover{
    color: #000000;
}

.lightbox-window {
    position: fixed;
    background-color: rgba(50, 50, 50, 0.95);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.lightbox-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.lightbox-window> div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
}

.lightbox-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 0;
    width: 80px;
    text-decoration: none;
}

.lightbox-close:hover {
    color: black;
}
/*Shop*/

.shop-wrapper{
    padding: 30px 80px;
}

.shop .card{
    border-radius: 0 !important;
    border: #F1F4F5 0.001rem solid;
}
.shop .card img{
    border-radius: 0 !important;
    margin: 10px auto;
    max-width: 150px;
}
.shop .card .card-overlay,.shop .card .card-overlay-color{
    border-radius: 0 !important;
}
.shop .card-title, .shop .card-text{
    font-size: 0.8rem;
}
.shop .card-overlay-links .btn-overlay:hover{
    background-color: #ffffff;
    color: #000000;
}
.shop .card .card-text p{
    font-size: 0.7rem;
}
.main-sub{
    font-size: 0.75rem;
    color: #6A7073;
}
.main-sub:before{
    content: ">";
}
aside{
    font-size: 0.8rem;
    width: 21.666667% !important;
    max-width: 21.666667% !important;
}
.shop-aside .p-main .btn-more{
    background-color: #DBDBDB;
    border-radius: 0 !important;
    color: #000000;
    border: 0;
    font-size: 0.7rem;
}
.shop-brands button{
    background-color: #ffffff;
    border: none;
}
.shop-brands .collapsed ~ i{
    transform: rotate(90deg);
}

.shop-search button{
    background-color: rgba(0,0,0,0);
    border: none;
    z-index: 3;
    top: 2px;
}
.shop-search input{
    padding-right: 20px;
    width: 100%;
}
.shop-search ::placeholder{
    font-size: 0.7rem;
}

.shop-container {
    color: #53585B;
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 0.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.shop-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #ffffff;
    border: 1px solid #53585B;
}
.shop-container input:checked ~ .checkmark {
    background-color: #ffffff;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.shop-container input:checked ~ .checkmark:after {
    display: block;
}
.shop-container .checkmark:after {
    left: 2px;
    top: -1px;
    width: 5px;
    height: 10px;
    border: solid #53585B;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.pr{
    padding-right: 1.5rem;
}
.collapse ul:last-child{
    margin-bottom: 10px !important;
}
.active-sub{
    color: #0B0B0B;
}
.active-sub:before{
    content: ">";
}
.special .shop{
    max-width: 350px;
}
.p-wrapper .special{
    padding: 0 !important;
}
.shop-icons{
    max-width: 80px;
    height: auto;
}
.p-wrapper .icon{
    font-size: 20px;
    padding: 10px;
}
.p-main + .img1{
    background-image: url("images/1.jpeg");
    height: 200px;
}
.p-main + .img2{
    background-image: url("images/2.jpeg");
    height: 150px;
}
.p-main + .img3{
    background-image: url("images/3.jpeg");
    height: 300px;
}
.car-brands a{
    box-shadow: 0 6px 12px 2px #e4e4e4;
    border-radius: 30px;
}
.car-brands a:hover{
    background-color: #1FAB00;
    color: #ffffff;
    border: 0 !important;
}
.car-images img{
    max-width: 150px;
}
/*Cart*/
.cart-wrapper {
    padding: 30px 70px;
}
.cart-wrapper h1:first-child{
    font-size: 1.25rem !important;
}
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox-container .btn{
    border-radius: 50% !important;
    font-size: 0.7rem;
    height: 32px;
}
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    right: 17px;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 50%;
}
.checkbox-container:hover input ~ .checkmark {
    background-color: #ffffff;
}
.checkbox-container input:checked ~ .checkmark {
    background-color: #ffffff;
}
.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container .checkmark:after {
    top: 0.1rem;
    left: 0.1rem;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1FAB00;
}
.cart-item-remove span{
    font-family: IranYekanReg;
    font-size: 0.8rem;
    color: #27A7D7;
}
.cart-item-remove .text-primary{
    color: #27A7D7 !important;
}
.cart-item-remove img{
    max-width: 180px;
}
.cart-product {
    max-width: 98% !important;
    border: #E3E3E3 1px solid;
    font-family: IranYekanBold;
    font-size: 0.8rem;
}
.input-number{
    vertical-align: top;
    text-align: center;
    outline: none;
    border-left: none !important;
    border-right: none !important;
    padding: 0 !important;
}
.input-number,
.input-number-decrement,
.input-number-increment{
    border: 1px solid #ccc;
    user-select: none;
}
.input-number-decrement,
.input-number-increment{
    display: inline-block;
    line-height: 38px;
    background: rgba(0,0,0,0) !important;
    color: #70D42E !important;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.input-number-decrement,
.input-number-increment:active{
    background: #ddd
}
.input-number-decrement{
    border-left: none;
    border-radius: 0 4px 4px 0;
}
.input-number-increment{
    border-right: none;
    border-radius: 4px 0 0 4px;
}
.cart-discount .discount-btn{
    left: 0;
    border-radius: 20px 0 0 20px;
    background-color: #64DD14;
    color: #ffffff;
    font-size: 0.7rem;
    padding: 0.4rem 0.6rem;
}
.cart-discount input{
    padding: 0.4rem;
    background-color: #F5F5F5;
    border-radius: 20px;
    border: none;
}
.cart-discount input::placeholder{
    font-size: 0.6rem;
}
.cart-discount .checkout-btn{
    border-radius: 20px;
    background-color: #40C309;
    color: #ffffff;
    font-size: 0.8rem;
}
.cart-wrapper aside{
    height: fit-content;
}
aside .p-main .row div:last-child p{
    font-size: 0.7rem !important;
}
.cart-icons div h6{
    font-size: 0.4rem !important;
}
.cart-icons .icon{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    height: fit-content;
    border-radius: 100%;
}
/*Checkout Address*/
.mr-1.checkout-progress{
    margin-right: 0.2rem!important;
}
.checkout-progress hr{
    height: fit-content;
    border: 2px solid #747474;
    background-color: #747474;
    top: 14px;
}
.checkout-progress i{
    left: 0;
    top: 7px;
    z-index: 2;
}
.checkout-progress{
    color: #747474;
}
.checkout-progress div.active{
    color: #64DD14;
}
.checkout-progress hr.active{
    background-color: #64DD14;
    border: 2px solid #64DD14;
}
.address-add{
    border-radius: 20px;
    background-color: #40C309;
    color: #ffffff;
    font-size: 0.8rem;
}
.address-add:hover{
    color: #ffffff;
}
.address-item{
    border: 1px solid #E1E1E1;
    border-radius: 20px;
    font-size: 0.8rem;
}
.address-item button{
    background-color: #F5F5F5 !important;
    color: #1A2931;
    border: 1px solid #CACACA;
    border-radius: 0 0 20px 20px;
    transition: 0.5s all ease;
    font-size: 0.9rem;
}
.address-item button:hover{
    background-color: #F5F5F5 !important;
    color: #1A2931;
    border: 1px solid #bfbfbf;
}
.lightbox-address {
    position: fixed;
    background-color: rgba(162, 162, 162, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.lightbox-address:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.lightbox-address> div {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
}
.lightbox-address .col-6{
    width: 49% !important;
}
.lightbox-address input::placeholder,textarea::placeholder{
    color: #CECECE;
    font-size: 0.8rem;
}
.lightbox-address select.col-6{
    color: #969696;
    font-size: 0.8rem;
}
.lightbox-address input,textarea,select.col-6{
    border: 1px solid #CECECE;
    border-radius: 5px;
}
.lightbox-address button{
    border-radius: 20px;
    background-color: #40C309;
    color: #ffffff;
    font-size: 0.8rem;
}
.lightbox-address button:hover{
    border-radius: 20px;
    background-color: #40C309;
    color: #ffffff;
    font-size: 0.8rem;
}
.address-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 80px;
    text-decoration: none;
}
.address-close:hover {
    color: black;
}
/*checkout time*/
.address-info{
    font-size: 0.8rem;
    color: #565A5C;
}
.add-change{
    height: fit-content;
    border-radius: 20px;
    background-color: #40C309;
    color: #ffffff;
    font-size: 0.8rem;
}
.add-change:hover{
    color: #ffffff;
}
.delivery-options{
    font-size: 0.8rem;
    color: #565A5C;
}
.address-checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.address-checkbox-container .btn{
    border-radius: 50% !important;
    font-size: 0.7rem;
    height: 32px;
}
.address-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.address-checkbox-container .checkmark {
    position: absolute;
    top: 0;
    right: 17px;
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 50%;
}
.address-checkbox-container:hover input ~ .checkmark {
    background-color: #ffffff;
}
.address-checkbox-container input:checked ~ .checkmark {
    background-color: #ffffff;
}
.address-checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.address-checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.address-checkbox-container .checkmark:after {
    top: 0.05rem;
    left: 0.05rem;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #1FAB00;
}
/*payment options*/
.payment-options{
    font-size: 0.8rem;
}
.bank-checkbox .bank-icon{
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    width: fit-content;
    margin: 5px auto;
}
.bank-checkbox .bank-icon img{
    max-height: 70px;
    max-width: 70px;
}
.bank-checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bank-checkbox-container .btn{
    border-radius: 50% !important;
    font-size: 0.7rem;
    height: 32px;
}
.bank-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.bank-checkbox-container .checkmark {
    position: absolute;
    top: 0;
    right: 50px;
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border: 1px solid #7C7C7C;
    border-radius: 50%;
}
.bank-checkbox-container:hover input ~ .checkmark {
    background-color: #ffffff;
}
.bank-checkbox-container input:checked ~ .checkmark {
    background-color: #ffffff;
}
.bank-checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.bank-checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.bank-checkbox-container .checkmark:after {
    top: 0.06rem;
    left: 0.07rem;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #1FAB00;
}